 <div class="row">
          <!--Nav options-->
        <div class="col-lg-2 mt-2">
            <div class="list-group side-nav-fonts" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-status-list" data-toggle="list" href="#list-status" role="tab" aria-controls="status">Status
                <hr class="mb-0">
                </a>
                <a class="list-group-item list-group-item-action" id="list-payment-list" data-toggle="list" href="#list-payment" role="tab" aria-controls="payment">Payment
                <img src="widgets/customPaymentPage/assets/img/done.png"></a>
                <a class="list-group-item list-group-item-action" id="list-creatives-list" data-toggle="list" href="#list-creatives" role="tab" aria-controls="creatives">Creatives
                <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png"></a>
                <a class="list-group-item list-group-item-action" id="list-documents-list" data-toggle="list" href="#list-documents" role="tab" aria-controls="documents">Documents
                <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png">
                <hr class="mb-0">
                </a>
                <a class="list-group-item list-group-item-action" id="list-documents-list" data-toggle="list" href="#list-refunds" role="tab" aria-controls="refunds">Refunds
                <span class="badge rounded-pill bg-primary">2</span></a>
                <a class="list-group-item list-group-item-action" id="list-documents-list" data-toggle="list" href="#list-memo" role="tab" aria-controls="memo">Memo
                <span class="badge rounded-pill bg-primary">3</span></a>
            </div>
        </div>
        <!--upload drag & drops-->
        <div class="col-lg-10">
             <div class="row">
          <div class="col-md-12">
              <h2 class="payment-m">Payment</h2>
          </div>
      </div>
     <div class="row">
      <div class="form-group mt-4 col-md-7">
        <label for="Campaign Name" class="advertiser">ADVERTISER</label>
        <select class="form-select form-control inputState" aria-label="Default select example">
            <option>Select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
      </div>
      </br>
      </br>
          <div class="row">
        <div class="col-md-3">
          <label for="total_pay_amount" class="form-label t-pay-amount">TOTAL PAYABLE AMOUNT</label>
          <input type="text" class="price" value="₱ 55000">
        </div>
      </div>
      </br>
        <!--Total payable amount-->
        
          <div class="row drag-drop-box">
        <div class="col-md-4 bg-color">
              <div class="row p-3">
                  <div class="col-lg-6 col-6 mt-2">
                      <section class="default-font-color">
                         <h6 class="mb-0">CLIENT REFERENCE</h6>
                         <span>04352</span>
                      </section>
                  </div>
                  <div class="col-lg-6 col-6 mt-2">
                      <section class="default-font-color">
                         <h6 class="mb-0">AMOUNT</h6>
                         <input type="text" class="price-amount form-control" value="₱ 45000">
                      </section>
                  </div>
              </div>
        </div>
        <div class="col-md-8 input-box-border">
            <div class="mb-3">
                <input type="file" class="file-upload-input form-control" placeholder="Username" name="usrname">
                <div class="drag-text">
                    <div class="row p-3">
                        <div class="col-md-1 col-2">
                          <img src="widgets/customPaymentPage/assets/img/description.png">  
                        </div>
                        <div class="col-md-10 col-8">
                            <section class="default-font-text">
                              <span>Telecast order</span>
                               <h4>Click to select file or drag file here</h4> 
                            </section>
                        </div>
                        <div class="col-md-1 col-2 text-right">
                          <img src="widgets/customPaymentPage/assets/img/add.png">  
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </br>
      </br>
    <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border">
        <div class="mb-3">
          <input type="file" class="file-upload-input form-control" placeholder="Username" name="usrname">
            <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customPaymentPage/assets/img/description.png">  
            </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>Proof of payment</span>
                  <h4>Click to select file or drag file here</h4> 
              </section>
            </div>
            <div class="col-md-1 col-2 text-right">
             <img src="widgets/customPaymentPage/assets/img/add.png">  
            </div>
            </div>
            </div>
        </div>
        </div>
      </div>
      </br>
      </br>
      <div class="row">
          <div class="col-md-4 ">
            <div class="form-check form-switch">
              <label class="form-check-label" for="customSwitches">CREDITABLE WITHOLDING TAX</label>
              <input type="checkbox" class="form-check-input" id="customSwitches"> 
            </div>
        </div>
        </div>
        <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border">
        <div class="mb-3">
          <input type="file" class="file-upload-input " placeholder="Username" name="usrname">
            <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customPaymentPage/assets/img/description.png">  
            </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>CWT</span>
                  <h4>Click to select file or drag file here</h4> 
              </section>
            </div>
            <div class="col-md-1 col-2 text-right">
             <img src="widgets/customPaymentPage/assets/img/add.png">  
            </div>
            </div>
            </div>
        </div>
        </div>
      </div>
       </br>
      </br>
       <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary submit-btn">SUBMIT</button>
        </div>
      </div>
      </div>
      </div>
 