<body>
<header >
<div class="container-fluid">
<div class="top-header top-md">
<div class="logo navbar-brand fl-left">
<a class="navbar-brand" href="#">
<img width="70" alt="logo" src="widgets/customHeader/assets/img/spg-crsl-rgb-rev@2x.png" title="Crisil logo"></a>
</div>

<div class="navbar-right right-fl">

<ul>
<li><a href=""><span class="cust-user-icon">{{properties.userDetails.firstname[0]}}{{properties.userDetails.lastname[0]}}</span>{{properties.userDetails.userName}}</a></li>
<!--<li> / </li>-->
<!--<li><a href="">Logout</a></li>-->
</ul>

</div>
</div>
</div>
</header>
</body>