
.navbar-side-nav{
    background-color:#F5F5F5 !important;
}
.navbar-nav>li>a {
    padding : 6px 10px!important;
    text-decoration: none;
    font-size:16px;
    font-weight:400;
    color:#0055A5 !important;
}
.navbar-toggle{
    border:0px !important;
}
.navbar{
    border:0px !important;
}
.text-styles{
    padding-top:13px !important;
}
.container-heading{
    margin-top:128px;
}
.btn-accordian{
    border: 1px solid #0055A5;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color:#0055A5;
}
.btn-info:hover, .btn-info:focus{
    background-color:#0055A5;
    border-color:#0055A5;
    box-shadow:initial;
}
.sph-tv-block:focus{
     border: 2px solid #0055A5 !important;

        outline:0px solid #0055A5 !important;
}
.custem-border-right{
     border-right: 1px solid #BDBDBD;
}
.default-font-color h6{
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}
.default-font-color span{
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}
.saved-btn{
    background-color: #F7941E;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    font-size:16px;
    font-weight:500;
}
.creatives h4{
    font-size:24px;
    font-weight:600;
}
.inputState{
    background-color: #e1f5ff;
    border: none;
    font-size:16px;
    font-weight:400;
}
.advertiser, .t-pay-amount{
    font-size:14px; 
    font-weight:500;
}
.price, input.price:active, input.price:focus {
    font-size:24px;
    font-weight:600;
    border:none;
}
.price-amount{
   font-size:24px;
   font-weight:600;
   background-color:#F5F5F5;
   border: 0px solid #F5F5F5!important;
   box-shadow: none!important;
}
  
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    /*width: 50%;*/
    /*height: 100%;*/
    /*outline: none;*/
    opacity: 0;
    cursor: pointer;
}
.input-group-text{
    background-color:white !important;
    border:none !important;
}
.submit-btn{
    width:176px;
    font-size:16px;
}
.align img{
    margin-left:20rem;
}
.default-font-text span{
    font-size:16px;
    font-weight:500;
}
.default-font-text h4{
    font-size:14px;
    font-weight:400;
    color:#757575;
}
.drag-drop-box .input-box-border{
    border: 1px solid #BDBDBD;
}
.drag-drop-box .bg-color{
    background-color: #F5F5F5;
}
.lable-text-font{
    font-size:14px;
    font-weight:500;
}
.side-nav-fonts .list-group-item{
    font-size:16px;
    font-weight:400;
    color:#0055A5;
    background-color:#F5F5F5;
    border:0px !important;
}
.side-nav-fonts a.list-group-item:focus, .side-nav-fonts a.list-group-item:hover, .side-nav-fonts a.list-group-item:active {
    border-bottom:0px!important;
    background-color:#F5F5F5;
    color:#0055A5 !important;
}
.side-nav-fonts .list-group-item>.badge {
    float: initial;
}
.side-nav-fonts a.list-group-item:hover .badge{
    color:white;
    
}
.side-nav-fonts a.list-group-item+.list-group-item.active{
   margin-top:0px 
}
.horizental-style{
    position:relative;
    top:12px;
}
.more-font{
    font-size:12px;
    color:#0055A5;
    font-weight: 400;
    line-height:16px;
}
/* make sidebar nav vertical */ 
@media (max-width: 768px) {
.navbar-side-nav{
    background: white !important;
    border-bottom: 1px solid black !important;
  }
  .save-styles{
    float:right;
    margin-top:7px;
}
.info-margin-top{
    margin-top:7px;
}
.mb-align-review{
    margin-left:51px;
}
}
@media (min-width: 768px) {
.sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
}

.sidebar-nav .navbar ul {
   float: none;

}
.sidebar-nav .navbar ul:not {
    display: block;

}
.sidebar-nav .navbar li {
   float: none;
   display: block;
}
}
	
.sidebar-nav .navbar-header{ 
    float: none; 
    width:100%;
}
/*comelec document css*/
.input-box-border-dashed{
    border:2px dashed #BDBDBD;
}
.input-box-border-approved{
    background-color:#F5F5F5;
}
.default-font-text.progress{
    height:10px;
} 
.default-font-text .progress-bar{
    width:60%;
    height:10px;
}
.padding-styles{
    padding:3px 15px;
}
.review-styles{
    background-color:#BDBDBD;
    font-size:12px;
    line-height:16px;
    
}
.approve-bg-color{
    background-color:#BED72D;
    font-size:12px;
    line-height:16px;
}
.sub-bgcolor{
    background-color:#0055A5 !important;
    
}
.save-styles, .save-styles.btn-outline-secondary:hover, .save-styles.btn-outline-secondary:active{
    border:1px solid #0055A5;
    color:#0055A5;
    background-color:white;
}

.bar-bg-color{
    background-color:#0055A5;
    
}
.img-style{
    padding: inherit;
}
.payment-m{
    font-size:32px;
}
.custom-bg-color{
    background-color: #0055A5 !important;
}