<div class="container">
      <div class="container-heading">
        <h1> <img src="widgets/customComelecpage/assets/img/arrow_back.png"> &nbsp; {{properties.campaign.clientReferenceNumber}}</h1>
      </div>
      </br>
      <div class="row sph-tv-block">
        <div class="col-md-4  mb-3 col-7 custem-border-right">
          <section class="default-font-color">
          <h6 class="mb-0">CAMPAIGN</h6>
            <span class="verticalLine">{{properties.campaign.campaignName}}</span>
          </section>
        </div>
        <div class="col-md-3 mb-3 col-5 custem-border-right">
          <div class="row">
            <div class="col-md-6 mb-3">
             <section class="default-font-color">
              <h6 class="mb-0">FROM</h6>
              <span class="verticalLine">{{properties.campaign.startDate}}</span>
             </section>
            </div>
            <div class="col-md-6 mb-3">
              <section class="default-font-color">
              <h6 class="mb-0">TO</h6>
              <span class="verticalLine">{{properties.campaign.endDate}}</span>
            </section>
            </div>
          </div>
        </div>
        <div class="col-md-1 mb-3 col-4 custem-border-right">
          <section class="default-font-color">
          <h6 class="mb-0">AD TYPE</h6>
           <span class="verticalLine">{{properties.campaign.adType}}</span>
          </section>
        </div>
        <div class="col-md-4 mb-3 col-8">
            <div class="row">
                <div class="col-md-11">
                 <section class="default-font-color">
                    <h6 class="mb-0">AIRING CHANNELS</h6>
                    <span class="verticalLine">{{properties.campaign.airingChannel}}</span>
                </section>   
                </div>
                <div class="col-md-1 hidden-xs">
                 <button type="button" class="btn btn-info btn-accordian" data-toggle="collapse" data-target="#demo"><img src="widgets/customComelecpage/assets/img/keyboard_arrow_down.png"></button>
                </div>
            </div>
         </div>
      </div>
      <div id="demo" class="collapse">
      <div class="row sph-tv-block">
        <div class="col-md-4 mb-3 col-5 custem-border-right">
          <section class="default-font-color">
         <h6 class="mb-0"> ADVERTISER</h6>
          <span class="verticalLine">{{properties.campaign.advertiserName}}</span>
        </section>
        </div>
        <div class="col-md-3 mb-3 col-7 custem-border-right">
          <section class="default-font-color">
         <h6 class="mb-0">AGENCY</h6>
          <span class="verticalLine">{{properties.campaign.agency}}</span>
        </section>
        </div>
        <div class="col-md-2 mb-3 col-4 custem-border-right">
          <section class="default-font-color">
         <h6 class="mb-0">PLACEMENT</h6>
          <span class="verticalLine">{{properties.campaign.placementFrom}}</span>
        </section>
        </div>
        <div class="col-md-3 mb-3 col-8">
          <section class="default-font-color">
          <h6 class="mb-0">PRIMARY CANDIDATE</h6>
           <span class="verticalLine">{{properties.campaign.primaryCandidateName}}</span>
          </section>
         </div>
      </div>
      </div>
      <div class="row">
        <div class="col-12 visible-xs">
            <p class="more-font" data-toggle="collapse" data-target="#demo">more</p>
        </div>
    </div>
      <div class="row">
        <div class="col-md-2">
          <div class="mb-3">
            <button type="button" class="btn btn-warning saved-btn">{{properties.campaign.status}}</button>
          </div>
        </div>
        <div class="col-md-10">
            <hr class="horizental-style hidden-xs">
        </div>
      </div>
      </br>
      </br>
    <div class="row">
          <!--Nav options-->
    <div class="col-lg-2 mt-2">
     <div class="sidebar-nav">
        <div class="navbar navbar-default navbar-side-nav" role="navigation">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-2">
                      <span class="visible-xs navbar-brand text-styles">Documents</span> 
                    </div>
                    <div class="col-10">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <img src="widgets/customComelecpage/assets/img/expand_more.png">
                        </button>  
                    </div>
                </div>
            </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav ul-navbar-nav">
            <li><a href="#">Status</a><hr class="mb-0"></li>
            <li><a href="#">Payment <img src="widgets/customComelecpage/assets/img/done.png"></a></a></li>
            <li><a href="#">Creatives <img src="widgets/customComelecpage/assets/img/Ellipse 6.png"></a></li>
            <li><a href="#">Documents <img src="widgets/customComelecpage/assets/img/Ellipse 6.png"></a><hr class="mb-0"></li>
            <li><a href="#">Refunds <span class="badge rounded-pill bg-primary custom-bg-color">{{refundLength}}</span></a></li>
            <li><a href="#">Memo <span class="badge rounded-pill bg-primary custom-bg-color">{{memoLength}}</span></a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
        <!--upload drag & drops-->
<div class="col-lg-8">
    <div class="row">
     <div class="col-md-12">
        <h2 class="payment-m hidden-xs">Comelec documents</h2>
     </div>
    </div>
    <div class="col-md-12" style="display: block; text-align: center">
         <span style="display: block;color: #D8000C; padding:3px;font-size:12px" ng-if="isPolAdContrctError" class="error">Original Signed Pol Ad Contract required</span>
         <span style="display: block;color: #D8000C; padding: 3px;font-size:12px" ng-if="isOriginalSignedTermsConditnsError" class="error">Original Signed Terms and Conditions required</span>
         <span style="display: block;color: #D8000C; padding: 3px;font-size:12px" ng-if="isOfficialReceiptError" class="error">Official receipt required</span>
         <span style="display: block;color: #D8000C; padding: 3px;font-size:12px" ng-if="isAgencyLetterError" class="error">Agency letter required</span>
         <span style="display: block;color: #D8000C; padding: 3px;font-size:12px" ng-if="isSpecialPowerError" class="error">Special power of attorney required</span>
         <span style="display: block;color: #D8000C; padding: 3px;font-size:12px" ng-if="isTelecastorderError" class="error">Telecast order required</span>
     </div>
    </br>
    <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border">
         
        <div class="mb-3">
         
          <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customComelecpage/assets/img/description.png">  
              </div>
             <div class="col-md-7 col-10">
              <section class="default-font-text">
                <span>Original Signed Pol Ad Contract</span>
                 <input type="file" onchange="angular.element(this).scope().filePolAdContractSelected(this)" class="file-upload-input form-control"  name="poladcontract">
                </section>
            </div>
             <div class="col-md-4 col-10 mt-2 mb-align-review">
               <span class="review-styles padding-styles">REVIEW IN PROGRESS</span> 
             </div>
            </div>
          </div>
        </div>
         
        </div>
      </div>
      </br>
      </br>
    <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border-dashed">
        <div class="mb-3">
          <input type="file" class="file-upload-input form-control" onchange="angular.element(this).scope().fileOriginalSignTermsConditionsSelected(this)" name="originalSignTermsConditions">
          <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customComelecpage/assets/img/description.png">  
              </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>Original Signed Terms and Conditions</span>
                <h4>Click to select a file here</h4>
                <!--<div class="progress mt-2">-->
                <!--  <div class="progress-bar bar-bg-color"></div>-->
                <!--</div>-->
             </section>
            </div>
             <div class="col-md-1 col-2">
               <img src="widgets/customComelecpage/assets/img/clear.png"> 
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
       </br>
      </br>
      <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border-dashed">
        <div class="mb-3">
          <input type="file" class="file-upload-input form-control" onchange="angular.element(this).scope().fileOfficialReceiptSelected(this)"  name="officialReceipt">
          <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customPaymentPage/assets/img/description.png">  
              </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>Official receipt</span>
                <h4>Click to select a file here</h4>
             </section>
            </div>
             <div class="col-md-1 col-2 text-right">
               <img src="widgets/customComelecpage/assets/img/add.png"> 
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!--<div class="row drag-drop-box">-->
      <!--<div class="col-md-12 input-box-border-approved">-->
      <!--  <div class="mb-3">-->
      <!--    <input type="file" class="file-upload-input form-control" placeholder="Username" name="usrname">-->
      <!--    <div class="drag-text">-->
      <!--      <div class="row p-3">-->
      <!--        <div class="col-md-1 col-2">-->
      <!--          <img src="widgets/customComelecpage/assets/img/description.png">  -->
      <!--        </div>-->
      <!--       <div class="col-md-8 col-6">-->
      <!--        <section class="default-font-text">-->
      <!--          <span>Official receipt</span>-->
      <!--          </section>-->
      <!--      </div>-->
      <!--       <div class="col-md-3 col-4 mt-2">-->
      <!--         <span class="approve-bg-color padding-styles">APPROVED</span> -->
      <!--       </div>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--  </div>-->
      <!--</div>-->
      </br>
      </br>
      <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border-dashed">
        <div class="mb-3">
          <input type="file" class="file-upload-input form-control" onchange="angular.element(this).scope().fileAgencyLetterSelected(this)"  name="officialReceipt">
          <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customPaymentPage/assets/img/description.png">  
              </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>Agency letter</span>
                <h4>Click to select a file here</h4>
             </section>
            </div>
             <div class="col-md-1 col-2 text-right">
               <img src="widgets/customComelecpage/assets/img/add.png"> 
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!--<div class="row drag-drop-box">-->
      <!--<div class="col-md-12 input-box-border-approved">-->
      <!--  <div class="mb-3">-->
      <!--    <input type="file" class="file-upload-input form-control" placeholder="Username" name="usrname">-->
      <!--    <div class="drag-text">-->
      <!--      <div class="row p-3">-->
      <!--        <div class="col-md-1 col-2">-->
      <!--          <img src="widgets/customComelecpage/assets/img/description.png">  -->
      <!--        </div>-->
      <!--       <div class="col-md-8 col-6">-->
      <!--        <section class="default-font-text">-->
      <!--          <span>Agency letter</span>-->
      <!--          </section>-->
      <!--      </div>-->
      <!--       <div class="col-md-3 col-4 mt-2">-->
      <!--         <span class="approve-bg-color padding-styles">APPROVED</span> -->
      <!--       </div>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--  </div>-->
      <!--</div>-->
      </br>
      </br>
      <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border">
        <div class="mb-3">
          <input type="file" class="file-upload-input form-control" onchange="angular.element(this).scope().fileSpecialPowerOfAttorneySelected(this)" name="specialpowerattorney">
          <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customComelecpage/assets/img/description.png">  
              </div>
             <div class="col-md-7 col-8">
              <section class="default-font-text">
                <span>Special power of attorney</span>
                <h4>Click to select a file here</h4>
                </section>
            </div>
             <div class="col-md-4 col-2 text-right">
                <img src="widgets/customComelecpage/assets/img/add.png">  
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </br>
      </br>
      <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border-dashed">
        <div class="mb-3">
          <input type="file" class="file-upload-input form-control" onchange="angular.element(this).scope().fileTelecastOrderSelected(this)" name="telecastordr">
          <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customPaymentPage/assets/img/description.png">  
              </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>Telecast order</span>
                <h4>Click to select a file here</h4>
             </section>
            </div>
             <div class="col-md-1 col-2 text-right">
               <img src="widgets/customComelecpage/assets/img/add.png"> 
             </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </br>
      </br>
       <div class="row">
        <div class="col-md-3 col-12 text-center">
          <button type="button" ng-click="submitTask(properties.campaign,files,properties.userId,'submitForApproval');" class="btn btn-primary btn-lg sub-bgcolor padding-styles">SUBMIT FOR APPROVAL</button>
        </div>
        <div class="col-md-2 col-8">
          <button type="button"  ng-click="submitTask(properties.campaign,files,properties.userId,'saveProgress');" class="btn btn-outline-secondary btn-lg save-styles padding-styles">SAVE PROGRESS</button>
        </div>
        <div class="col-md-7 col-4 info-margin-top">
            <span class="img-style"><img src="widgets/customComelecpage/assets/img/info.png"></span>
        </div>
      </div>
      </div>
      </div>
      </div>
    </div>