 <div class="spinner" style="top:35%;position: absolute;margin-left: 50%;" ng-show="loading"></div> 
<div id="wrapper" ng-init="init();" style="{{opacity}}">
    <div class="container-fluid">
 

        <div class="top-sec">  
            <nav aria-label="breadcrumb"> 
                <ol class="breadcrumb">  
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a> 
                    </li>  
                    <li class="breadcrumb-item active" aria-current="page">{{properties.mandateData.billingCompany}} </li>
                      <div class="backto-home">
                        <a class="breadcrumb-item active" style="color: #e93117 !important;cursor: pointer !important;" ng-click="reloadDashBoard()">Back to dashboard</a>
                    </div>
                </ol>
            </nav>
 
            <!--<div class="backto-home">-->
            <!--    <a class="breadcrumb-item active" style="color: #e93117 !important;cursor: pointer !important;" ng-click="reloadDashBoard()">Back to dashboard</a>-->
            <!--</div>-->
            <div class="row top-bottom">
                <div class="col-md-6 col-sm-12 col-xs-12 left">
                    <h6>{{properties.mandateData.billingCompany}} </h6> 
 
                    <ul class="new-mandate-detailsid">
                        <li>
                            Product Name
                            <span>{{properties.mandateData.productName}}</span>
                        </li>
                        <li>
                            Institution Name
                            <span>{{properties.mandateData.institutionName}}</span> 
                        </li>
                        <li>Billing Company
                            <span>{{properties.mandateData.billingCompany}}</span>
                        </li>
                        <li>Billing Company Contact
                            <span>{{properties.mandateData.billingCompanyContact}}</span>
                        </li> 
                    </ul>
                    <ul class="new-mandate-detailsid">
                    <!--    <li>
                            Mandate ID
                            <span>{{properties.mandateData.mandateId}}</span>
                        </li>
                        <li>
                            Mandate Creation date
                            <span>{{properties.mandateData.mandateCreationDate}}</span>
                        </li>-->
                       <!-- <li>Bd Name
                            <span>{{properties.mandateData.bdName}}</span>
                        </li>-->
                        <li>Status
                            <span >{{properties.mandateData.mainCaseStatus}}</span>
                        </li>
                         <li>MandateID
                            <span>{{properties.mandateData.globalMandateId}}</span>
                        </li>
                         <li>Mandate Originated Date
                            <span>{{properties.mandateData.mandateOriginatedDate}}</span>
                        </li>
                         <li>BD name
                            <span>{{properties.mandateData.bdName}}</span>
                        </li>
                        
                    </ul>

                </div>

            </div>

        </div>

    </div>

   <form name="mandateData">
        <div id="exTab1" class="tabbable-line">
            <ul class="nav nav-pills nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" id="productTab" href="#home">Product Details
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="oneSourceTab" href="#menu1">OneSource
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="mandateTab" href="#menu2">Mandate Details
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="FeeTab" href="#menu3">Fee Details
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-items-set" data-toggle="tab" id="commentTab" href="#menu7">BA VENDOR DETAILS
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="documentsTab" href="#menu4">Documents
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                        </span>
                    </a>
                </li>
                   <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="bd" href="#bdRejection">BD Rejection History
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                        </span>
                    </a>
                </li>
                  <li class="nav-item" ng-if="enableComments">
                    <a class="nav-link" data-toggle="tab"   id="commentsTab" href="#menu5">Comments
                        <span>
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                        </span> 
                    </a>
                </li>
                <!-- <li class="nav-item">-->
                <!--           <a class="nav-link nav-items-set" data-toggle="tab" id="" href="#menu6">INFOR REQ</a>--> 
                <!--</li>-->
            </ul>
            <div class="btn-right-save float-right">
                 <button type="button" class="btn btn-outline-secondary"  ng-click="enable()">SHOW COMMENTS </button>
                
                 <button type="button" class="btn btn-outline-secondary"  ng-if="properties.isNoRejected != 'Y'" ng-disabled="mandateData.billingCompany.$invalid || mandateData.companyCode.$invalid" ng-click="saveForlater()">SAVE FOR LATER </button>
               <button type="button"  class="btn btn-outline-secondary"  ng-if="!noFlag && properties.isNoRejected != 'Y'" ng-click="rejectComment()">REJECT </button>

                <button type="button" ng-disabled="mandateData.$invalid" ng-if="properties.isNoRejected != 'Y'" class="btn btn-outline-secondary" ng-click="createMandate()">CREATE </button>

            </div>
            
                  <!--toast msg-->
             <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
                                   
   
            <div class="modal fade" id="functionUsersCheck" role="dialog"> 
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <h1 for="comment">Reason for Rejection</h1>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">  
                        <div class="form-group"> 
                          <!--<label for="comment">Reason for Rejection</label>-->
                          <textarea class="form-control" rows="5" ng-model="properties.mandateData.smeComments" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-danger" ng-click="bdRejectionHistory();reject();"  data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>


    

            <div class="tab-content">
                <div id="home" class="tab-pane active">

                    <div class="panel-body">
                        <div class="form-wrap">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Product<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="product" ng-model="properties.mandateData.productName" ng-change="getProduct(properties.mandateData.productName);changeExposure(properties.mandateData.creditExposureByBank);"
                                            required>
                                            <option value="" disabled selected>Please select the Product.</option>
                                            <option ng-repeat="data in products">{{data.PRODUCTNAME}}</option>
                                        </select>
                                        <div ng-messages="mandateData.product.$error">
                                            <p class="text-danger" ng-message="required">Product required</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Institution Name<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="institutionName" ng-model="properties.mandateData.institutionName" ng-change="getInstitution(properties.mandateData.institutionName);changeExposure(properties.mandateData.creditExposureByBank);"
                                            disabled required>
                                            <option value="" disabled selected>Please select the Institution name.</option>
                                            <option ng-repeat="data in institutions">{{data.INSTITUTIONNAME}}</option>
                                        </select>
                                        <div ng-messages="mandateData.institutionName.$error">
                                            <p class="text-danger" ng-message="required">Institution name required</p>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Billing Company<span class="mandatory">*</span></label>
                                      <!--  <select class="form-control form-control-lg" name="billingCompany" ng-model="properties.mandateData.billingCompany" ng-change="getBillingCompany(properties.mandateData.billingCompany)"
                                            required>
                                            <option value="" disabled selected>Please select the Billing Company.</option>
                                            <option ng-repeat="data in billingCompanies">{{data.company_name}}</option>
                                        </select>-->
                                        
                                           <input type="text" placeholder="" class="form-control" name="billingCompany" ng-model="properties.mandateData.billingCompany" ng-keyup="getBillingCompany($event)" required>
                                         <ul style="width : 45%;z-index:{{zIndex}}" class="list-group list-ba-companies" ng-if="!enFlagNew1">
                                         <li class="list-group-item " ng-repeat="contact in billingCompanies" ng-click="getBillingCompanyBox(contact)">{{contact.company_name}}</li>
                                         </ul>
                                        
                                        <div ng-messages="mandateData.billingCompany.$error">
                                            <p class="text-danger" ng-message="required">Billing Company required</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Billing Company Contact<span class="mandatory">*</span></label>
                                     <input type="text" placeholder="" class="form-control" name="billingCompanyContact" ng-model="properties.mandateData.billingCompanyContact" ng-keyup="getBillingCompanyCon($event)" required>
                                         <ul style="width : 45%;z-index:{{zIndexC}}" class="list-group list-ba-companies" ng-if="!enFlagNew1">
                                         <li class="list-group-item " ng-repeat="contact in billingCompanyContacts" ng-click="getBillingCompanyContact(contact.contact_full_name,properties.mandateData.billingCompany)">{{contact.contact_full_name}}</li>
                                         </ul>
                                        <div ng-messages="mandateData.billingCompanyContact.$error">
                                            <p class="text-danger" ng-message="required">Billing Company Contact required</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Product Type<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="productType" ng-model="properties.mandateData.productType" ng-change="getProductType(properties.mandateData.productType);changeExposure(properties.mandateData.creditExposureByBank);"
                                            required>
                                            <option value="" disabled selected>Please select the Product Type.</option>
                                            <option ng-repeat="data in productType">{{data.PRODUCTTYPENAME}}</option>
                                        </select>
                                        <div ng-messages="mandateData.productType.$error">
                                            <p class="text-danger" ng-message="required">Product type required</p>
                                        </div>
                                    </div>
                                     <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Company Code<span class="mandatory">*</span> </label>
                                      
                                        <input type="text" placeholder="" required class="form-control" ng-model="properties.mandateData.companyCode"  disabled>
                                     <div ng-messages="mandateData.companyCode.$error">
                                            <p class="text-danger" ng-message="required">Please select Billing company</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Product Category<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="productCategory" ng-model="properties.mandateData.productCategory" ng-change="changeExposure(properties.mandateData.creditExposureByBank);" required>
                                            <option value="" disabled selected>Please select the Product Category.</option>
                                            <option ng-repeat="data in productcategory">{{data.PRODUCTCATEGORYNAME}}</option>
                                        </select>
                                        <div ng-messages="mandateData.productCategory.$error">
                                            <p class="text-danger" ng-message="required">Product category required</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-next-bottom">
                                    <!--<button type="button" class="btn btn-outline-secondary">Reset </button>-->

                                    <div class="float-right ">
                                        <!-- <button type="button" class="btn btn-secondary" id="btne">Next </button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <!-- Onesource tab -->


                <div id="menu1" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label class="gst-exempt" for="email">GST Exempt<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" disabled class="form-control" name="gstExempt" ng-model="properties.mandateData.gstExempt" 
                                                required>
                                            <div ng-messages="mandateData.gstExempt.$error">
                                                <p class="text-danger" ng-message="required">GST Exempt required</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">GST Number Not Applicable<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" disabled class="form-control" name="gstNumberNotApplicable" ng-model="properties.mandateData.gstNumberNotApplicable"
                                                required >
                                            <div ng-messages="mandateData.gstNumberNotApplicable.$error">
                                                <p class="text-danger" ng-message="required">GST number not applicable required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">SEZ<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" disabled name="sez" class="form-control" ng-model="properties.mandateData.sez" required >
                                            <div ng-messages="mandateData.sez.$error">
                                                <p class="text-danger" ng-message="required">SEZ required</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">GST Number<span class="mandatory">*</span></label>
                                              <input type="text" disabled placeholder="" class="form-control" name="gstNumber" ng-if="gstApplicable" ng-model="properties.mandateData.gstNumber"
                                                required>
                                            <select class="form-control form-control-lg" name="gstNumber" ng-model="properties.mandateData.gstNumber" ng-if="!gstApplicable"
                                                required>
                                                <option value="" disabled selected>Please select the GST Number.</option>
                                                <option ng-repeat="data in gstNumbers" >{{data.GST_Number}}</option>
                                            </select>
                                            <div ng-messages="mandateData.gstNumber.$error">
                                                <p class="text-danger" ng-message="required">GST number required</p>
                                            </div>
                                          
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Location of Service<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" class="form-control" name="locationOfService" ng-model="properties.mandateData.locationOfService"
                                                 disabled required>
                                            <div ng-messages="mandateData.locationOfService.$error">
                                                <p class="text-danger" ng-message="required">Location of service required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-next-bottom">
                                        <!--<button type="button" class="btn btn-outline-secondary">Reset </button>-->

                                        <div class="float-right ">
                                            <!-- <button type="button" class="btn btn-secondary" id="oneSourcePrevious">Previous</button>
                                            <button type="button" class="btn btn-outline-secondary btnNext" id="oneSourcenext">Next </button> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Fee Details tab -->



                <div id="menu3" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                           <label for="email">Credit Exposure by Bank<span class="mandatory">*</span></label>
                                          <!-- <select class="form-control form-control-lg" ng-model="properties.mandateData.creditExposureByBank" data-ng-options="data.CREDIT_EXPOSURE for data in creditExpo.data "
                                                ng-change="changeExposure(properties.mandateData.creditExposureByBank)">
                                                <option value="" disabled selected>Please select the Credit Exposure by Bank.</option>
                                                
                                            </select>-->
                                             <select class="form-control form-control-lg" name="creditExposureByBank" ng-model="properties.mandateData.creditExposureByBank" ng-change="changeExposure(properties.mandateData.creditExposureByBank)" required>
                                                <option value="" disabled selected>Please select the Credit Exposure by Bank.</option>
                                                <option  ng-repeat="data in creditExpo.data">{{data.CREDIT_EXPOSURE}}</option>
                                            </select>
                                            
                                             <div ng-messages="mandateData.creditExposureByBank.$error">
                                                <p class="text-danger" ng-message="required">Credit Exposure by Bank required</p>
                                            </div>
                                        </div>
                                         
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Grading Fees</label>
                                        <input type="number" placeholder="" name="gradingFees" class="form-control" min="0" step="any" ng-model="properties.mandateData.gradingFees" required>
                                        <div ng-messages="mandateData.gradingFees.$error">
                                            <p class="text-danger" ng-message="required">Grading fees required</p>
                                        </div>
                                        </div>
                                    </div>   
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                         <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Cheque Amount (Rs.)<span class="mandatory">*</span></label>
                                            <input type="number" placeholder="Ex: 1000" min="0" step="any" name="paymentAmount" class="form-control" ng-model="properties.mandateData.paymentAmount"
                                                required>
                                            <div ng-messages="mandateData.paymentAmount.$error">
                                                <p class="text-danger" ng-message="required">Cheque amount required</p> 
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group"> 
                                            <label for="email">Payment date<span class="mandatory">*</span></label>                                            
                                             <!--<input type="text" class="date form-control" ng-model="properties.mandateData.paymentDate" data-provide="datepicker" ng-blur="paymentDate($event)" />-->
                                         
                                           <div class="input-group date" id="birthdate" ng-model="properties.mandateData.paymentDate" date-picker>
                                            <input type="text" class="form-control netto-input" name="paymentDate" ng-model="properties.mandateData.paymentDate" ng-blur="tue(properties.mandateData.paymentDate)" date-picker-input required>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                           </div>
                                            <div ng-messages="mandateData.paymentDate.$error">
                                                <p class="text-danger" ng-message="required">Payment date required</p>
                                            </div>
                                         
                                          </div>
                                         
                                    </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                   <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Payment Details<span class="mandatory">*</span></label>
                                            <input type="text" name="paymentDetails" class="form-control" ng-model="properties.mandateData.paymentDetails" required>
                                              <div ng-messages="mandateData.paymentDetails.$error">
                                                <p class="text-danger" ng-message="required">Payment details required</p>
                                            </div>
                                  
                                    </div>
                                    </div>                                 
                                    <div class="button-next-bottom">
                                        <!--<button type="button" class="btn btn-outline-secondary">Reset </button>-->

                                        <div class="float-right ">
                                            <!-- <button type="button" class="btn btn-secondary" id="feeDetailsPrevious">Previous</button>
                                            <button type="button" class="btn btn-outline-secondary btnNext" id="feeDetailsnext">Next </button> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                   <!--Mandate Details Tab-->

                <div id="menu2" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group"> 
                                          <label for="email">Entity Name<span class="mandatory">*</span></label>
                                         <input type="text" placeholder="" class="form-control" name="entityName" ng-model="properties.mandateData.entityName" ng-keyup="getEntities($event)" ng-disabled="properties.mandateData.institutionName == 'Individual'" required>
                                         <ul style="width : 45%;z-index:{{zIndex}}" class="list-group list-ba-companies" ng-if="!enFlag">
                                         <li class="list-group-item " ng-repeat="contact in entites" ng-click="fillTextbox(contact)">{{contact.company_name}}</li>
                                         </ul>
                                          <div ng-messages="mandateData.entityName.$error">
                                          <p class="text-danger" ng-message="required">Entity name required</p>
                                        </div>
                                      
                                         
                                       <!-- <label for="email">Entity Name</label>
                                        <select class="form-control form-control-lg" ng-if="!isIndv" name="entityName" ng-model="properties.mandate.entityName" ng-change="getEntitydetails(properties.mandate.entityName)">
                                            <option value="" disabled selected>Please select the Entity.</option>
                                            <option ng-repeat="data in entities">{{data.company_name}}</option>
                                        </select>
                                        <input type="text" placeholder="" class="form-control" ng-if="isIndv" name="entityName" ng-model="properties.mandate.entityName"
                                             required>-->
                                        <!--  <div ng-messages="mandate.entityName.$error">-->
                                        <!--    <p class="text-danger" ng-message="required">Entity name required</p>-->
                                        <!--</div>-->
                                    </div>

                                

                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Entity Address<span class="mandatory">*</span></label>
                                        <input type="text" placeholder="" class="form-control" name="entityAddress" ng-model="properties.mandateData.entityAddress"
                                            required disabled>
                                        <div ng-messages="mandateData.entityAddress.$error">
                                            <p class="text-danger" ng-message="required">Entity Address required</p>
                                        </div>
                                    </div>
                                    </div>
                                     <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Entity contact person Number<span class="mandatory">*</span></label>
                                        <input type="text" placeholder="" class="form-control" name="entityContactPersonNumber" ng-model="properties.mandateData.entityContactPersonNumber"
                                              required disabled>
                                        <div ng-messages="mandateData.entityContactPersonNumber.$error">
                                            <p class="text-danger" ng-message="required">Entity contact person number required</p>
                                        </div>
                                    </div>
                                   
                                      <div class="col-md-6 col-sm-12 col-xs-12 form-group"> 
                                        <label for="email" >Entity Display<span class="mandatory">*</span></label>
                                        <input type="text" placeholder="" class="form-control"  name="entityDisplayName" ng-model="properties.mandateData.entityDisplayName" disabled>
                                        <div ng-messages="mandateData.entityDisplayName.$error">
                                            <p class="text-danger" ng-message="required">Entity display required</p>
                                        </div>
                                    </div>
                                    
                                    </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group" >
                                        <label for="email" >Net ops sub status<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg"  name="ismeCaseSubStatus" ng-model="properties.mandateData.ismeCaseSubStatus" required>
                                            <option value="" disabled selected>Please select status</option>
                                            <option ng-repeat="data in ismeDropDown">{{data.SUBSTATUS}}</option> 

                                        </select>
                                        <div ng-messages="mandateData.ismeCaseSubStatus.$error"> 
                                            <p class="text-danger" ng-message="required">Field required</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group" >
                                        <label for="email"  >Urgent case<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="urgentCase"   ng-model="properties.mandateData.urgentCase" >
                                            <option value="" disabled selected>Please select</option>
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <div ng-messages="mandateData.urgentCase.$error">
                                            <p class="text-danger" ng-message="required">Field required</p>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                      
                                            <label for="comment">Constitution Name</label>
                                       
                                            <select class="form-control form-control-lg" name="constitutionName" ng-model="properties.mandateData.constitutionName" > 
                                            
                                                <option value="" disabled selected>Please select the Constitution.</option>
                                               <option value="Proprietorship">Proprietorship</option>
                                            <option value="Partnership Firm">Partnership Firm</option>
                                             <option value="Private Limited">Private Limited</option>
                                              <option value="Trust">Trust</option>
                                               <option value="Others">Others</option>
                                                
                                        </select>
                                        <!--<div ng-messages="mandate.constitutionName.$error">-->
                                        <!--    <p class="text-danger" ng-message="required">Constitution is required</p>-->
                                        <!--</div>-->
                                      </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email" >Allocated to Committee Date<!--<span class="mandatory">*</span>--></label>
                                               <!--<input type="text" class="date form-control" ng-model="properties.mandateData.allocateToCommitteeDate"  ng-if ="!isFromNo" data-provide="datepicker" ng-blur="allocatedToCommittee($event)" />-->
                                            <div class="input-group date" id="birthdate" ng-model="properties.mandateData.allocateToCommitteeDate" date-picker>
                                            <input type="text" class="form-control netto-input" name="allocateToCommitteeDate" ng-model="properties.mandateData.allocateToCommitteeDate" ng-blur="tue(properties.mandateData.allocateToCommitteeDate)" date-picker-input >
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                           </div>
                                            <!-- <div ng-messages="mandateData.allocateToCommitteeDate.$error">
                                            <p class="text-danger" ng-message="required">Allocated to committee required</p>
                                         </div>-->
                                    
                                    
                                        </div>
                                      </div>
                                      
                                   <div class="col-md-12 col-sm-12 col-xs-12" ng-if="properties.mandateData.bdName !='SMEFirst'">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <label for="email" >BD Name<span class="mandatory">*</span></label>

                                            <select class="form-control form-control-lg" name="bdName" ng-model="properties.mandateData.bdName" required>
                                                <option value="" disabled selected>Please select BD</option>
                                                <option ng-repeat="data in bdNames" value="{{data.EMP_WINDOWS_ID}}">{{data.EMP_COMPANYNAME}}</option>

                                            </select>
                                             <div ng-messages="mandateData.bdName.$error">
                                                <p class="text-danger" ng-message="required">BD Name is required</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                     
                                    <div class="button-next-bottom">
                                        <div class="float-right">
                                            <!-- <button type="button" class="btn btn-secondary" id="mandateDetailsPrevious">Previous</button>
                                            <button type="button" class="btn btn-outline-secondary btnNext" id="mandateDetailsNext">Next </button> -->

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//BA vendor details-->

              <div id="menu7"  class="tab-pane fade">
                    <div class="row"> 
                   
                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="email">BA Applicable</label>
                            <select class="form-control form-control-lg" name="baApplicable" ng-model="properties.mandateData.baApplicable" ng-change="baApplicable(properties.mandateData.baApplicable)"
                                required>
                                <option value="" disabled selected>Please select</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                             <div ng-messages="mandateData.baApplicable.$error">
                                            <p class="text-danger" ng-message="required">BA Applicable required</p>
                                         </div>
                        </div>
                    </div>
                    <div ng-if="showbaVendor">
                        <div class="panel-body mt-3 mb-3" style="border-bottom: 1px solid #c2c2c2" ng-repeat="vendor in baVendor">
                            
                            <button type="button" class="close" aria-label="Close" ng-click="dleteVendor($index)">
                              <span aria-hidden="true">&times;</span>
                            </button> 
                            
                            <span>BA Vendor </span>
                            <div class="form-wrap baVendorDetails">
                                <div class="row" > 
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group" ng-init="onCompanySelected(vendor,$index)">
                                        <label for="email">Select BA Vendor Company Name<span class="mandatory">*</span></label>
                                      
                                        <select class="form-control form-control-lg"  name="vendor.name" ng-model="vendor.name" ng-change="onCompanySelectedForContact(vendor.name,$index)">
                                            <option value="">Select Account</option>
                                            <option  ng-selected="{{badata.BACOMPANY==vendor.name}}" ng-repeat="badata in baCompanyList" value="{{badata.BACOMPANY}}">{{badata.BACOMPANY}}</option>
                                        </select>
                                    </div>
                                     <div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-init="getSelectedActvityValues(vendor.smeBAActivity,$index)">
                                      <ul class="cust-activity-list">
                                       <li ng-repeat="data in selectedActivities[$index]" >{{data.activity}}</li>
                                      </ul>
                                    </div>
                                </div>

                                <div class="row"  ng-init="onCompanySelectedForContact(vendor.name,$index)">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label>BA Contact Name<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg"  ng-model="vendor.contactName" ng-change="onContactSelected(vendor.contactName,baContactList[$index],$index)">
                                            <option value="">Select Account</option>
                                            <option  ng-selected="{{contactList.BANAME==vendor.contactName}}" ng-repeat="contactList in baContactList[$index]" value="{{contactList.BANAME}}">{{contactList.BANAME}}</option>
                                        </select> 
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group" >
                                        <label>BA Activity<span class="mandatory">*</span></label>
                                        
                                        <br>  
                                 
                                 
                                    <multiselect-dropdown model="baActivitiesModel"  dataselected="vendor.smeBAActivity" options="baActivities" required i=$index on-activity-selected="onActivitySelected(args,$index)"></multiselect-dropdown>
                                
                                    </div>
                                </div>
                                
                                   <!-- Added by GOPAL --> 
                                 
                                <!--  <div class="row">-->
                                <!--    <div class="col-md-6 col-sm-12 col-xs-12 form-group" ng-if="datePick[$index].statu">-->
                                <!--        <label>BA Scheduled date<span class="mandatory">*</span></label>-->
                                       
                                <!--         <input type="text" class="date form-control" ng-model="baScheduledDate" data-provide="datepicker" ng-blur="baScheduledDateFun($event,$index)" />-->
                                <!--        <div class="input-group date" id="birthdate" date-picker>-->
                                <!--            <input type="text" class="form-control netto-input" name="baScheduledDate" ng-model="baScheduledDate" ng-blur="baScheduledDateFun(baScheduledDate,$index)" date-picker-input >-->
                                <!--            <span class="input-group-addon">-->
                                <!--                <span class="glyphicon glyphicon-calendar"></span>-->
                                <!--            </span>-->
                                <!--           </div>-->
                                <!--    </div>-->

                                <!--</div>-->
                  
                                

                            </div>
                        </div>
                        <button class="addVendor" ng-click="addVendor()">
                            <span class="mt-3" style="color: #0091ff;">Add another BA Vendor to this mandate</span>
                        </button>
                    </div>
                    
                    <div class="button-next-bottom">

                        <div class="ba-buttons ">
                            <!-- <button type="button" class="btn btn-secondary" id="baP">Previous </button>
                            <button type="button" class="btn  btn-outline-secondary btnNext" id="baN">Next </button> -->
                        </div>
                    </div>
                </div>

                <div id="menu4" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">
                                    
                                    <div class="height-min" ng-hide="fileUpload">



                                      <!--  <input type=file ng-file-model="files"  class="btn btn-secondary upload-dct" multiple accept=".pdf,.xlsx,.txt,.xlsm,.xls"  />
                                     -->   <!--<input type=file  onchange="angular.element(this).scope().uploadFile(this.files)" class="btn btn-secondary upload-dct" multiple   />-->
                                        
                                        
                                        <br>
                                    </div>
                                    <div class="upload-list-main">
                                        <ul> 
                                          
                                            <li>
                                                <button class="file-option" ng-click="delete()">Delete</button>
                                            </li>
                                            <li>
                                                <button class="file-option" ng-click="deleteAll()">Delete all</button>
                                            </li>
                                        </ul>
                                      <table>
                                                            <tr>
                                                                <th style="width: 38px;"></th>
                                                                <th>Document Type</th>
                                                                <th>Document file</th>
                                                                <th>Uploaded Date</th>
                                                                <th></th>
                                                                <th>Action</th>
                                                            </tr>
                                                     <tr ng-repeat="doc in uploadedList">
                                                         
                                                         <td>
                                                                    <div class="list-group-item">
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" ng-model="status" ng-change="documentActionForUploadList(doc.response_code, status)" />
                                                                            <span class="default"></span>
                                                                        </label>
                                                                    </div> 
                                                                </td>
                                                             <td>{{doc.document_type}}</td>
                                                            <td>{{doc.document_name}}</td>
                                                           <td>{{doc.created_date}}</td>
                                                            <td>
                                                                <a href="/bonitaAPI/accesssme/download/{{doc.response_code}}" download>Download file</a>
                                                            </td>
                                                             
                                                            <td> 
                                                                    <span class="delete-icon" ng-click="deleteDocument(doc.response_code,$index)">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18"> 
                                                                            <g fill="none" fill-rule="evenodd">
                                                                                <path d="M-5-3h24v24H-5z" />
                                                                                <path fill="#333333" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" />
                                                                            </g>
                                                                        </svg>
                                                                    </span>
                                                                </td>
                                                        </tr>
                                                            <tr ng-repeat="doc in files">
                                    
                                                                <td ng-init="inits(files,$index)">
                                                                    <div class="list-group-item">
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" ng-model="status" ng-change="documentAction($index, status)" />
                                                                            <span class="default"></span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>OTHER DOCUMENT</td>
                                                                <td>{{doc.name}}</td>
                                                                <td></td>
                                                                <td>
                                                                    <span class="delete-icon" ng-click="deleteUploadDoc($index)">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                                                            <g fill="none" fill-rule="evenodd">
                                                                                <path d="M-5-3h24v24H-5z" />
                                                                                <path fill="#333333" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" />
                                                                            </g>
                                                                        </svg>
                                                                    </span>
                                                                </td>
                                    
                                                            </tr>
                                                        </table>
                                    
                                                        <!--<div class="height-mins">-->
                                                        <!--    <input type=file ng-file-model="files" class="btn btn-secondary upload-dct" multiple accept=".pdf,.xlsx,.txt,.xlsm,.xls"-->
                                                        <!--    />-->
                                                        <!--</div>-->
                                                         <div class="height-mins cust-choosefile">
                                                          Upload File
                                                         <input type="file" ng-file-model="files" class="hide_file" multiple >
                                                        </div>
                                    
                                    
                                                    </div> 
                            </div>
                        </div>
                    </div>
                </div>

               <div class="button-next-bottom">
                       

                        <div class="float-right ">
                            <!-- <button type="button" class="btn btn-secondary" id="docuumentP">Previous </button> -->
                        </div>
                    </div>


            </div>
            
                  <div id="bdRejection" class="tab-pane fade">
                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="upload-list-main">
                                        <table>
                                            <tr>
                                                <th>Rejected By</th>
                                                <th>Comments</th>
                                                <th>Rejected Date</th>
                                            </tr>

                                            <tr ng-repeat="bdHis in bdHistory">
                                             <td>{{bdHis.user_id}}</td>
                                                <td>{{bdHis.comments}}</td>
                                                <td>{{bdHis.updated_date}}</td> </tr>
                                        </table>
                                    </div>
                                    <div class="respones-img-upload">
                                        <img src="group-2@2x.png" alt="" title="" /> 
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                
                
                    <!--Commments Tab-->
                <div id="menu5" class="tab-pane fade">			
                    <div class="panel-wrapper"> 
                        <div class="panel-body">
                            <div class="form-wrap"> 
                                <div class="row"> 
                                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                 </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group div-cmnts" style="border:1px solid grey;">
            								 <div ng-repeat="comment in commentsObj">
            								 <span><strong>{{comment.user_name}}</strong></span>
            								  <span>{{comment.updated_on}}</span>
            								  <p>{{comment.comment}}</p>
            								  </div>
            								 </div>
                                          <div class="col-md-12 col-sm-12 col-xs-12 form-group" >
                                          <div class="form-group">
                                                  <label for="sel1">Role</label>
                                                  <select class="form-control" ng-model="properties.mandateData.userRole" ng-change="getComments(properties.mandateData.userRole)">
                                                  <option selected value="" disabled>Please select role</option>          
                                                  <option value="BD">BD</option>
                                                  <option value="BA">BA</option>
                                                  <option value="Info Req-Entity">Info Req-Entity</option>
                                                  <option value="Team 1 Analyst">Team 1 Analyst</option>
            									  <option value="Team 1 Lead">Team 1 Lead</option>
            									  <option value="Team 2 Analyst">Team 2 Analyst</option>
            									  <option value="Team 2 Lead">Team 2 Lead</option>
            									  <option value="Grading Desk">Grading Desk</option>
            									  <option value="Committee">Committee</option>
                                                  </select>
                                                  
                                                </div>   
                                            </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                  
                                                	<input type ="textarea" placeholder="comment here.." class="form-control form-control-lg cmnt" ng-model="properties.mandateData.userComment">
                                           <br/> <div class="float-right ">
                                     <button type="button" class="btn btn-secondary btn-cmnt" ng-click="setComment(properties.mandateData.userComment,properties.mandateData.userRole)" >Comment </button>
                                    </div>
            							 </div>
                                          </div>
                                 <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                 </div>
                                          </div>
                                    </div>
                    </div> 
                </div>

               <div class="button-next-bottom post-cmnt">
                       

                     <!--   <div class="float-right ">
                         <button type="button" class="btn btn-secondary btn-cmnt" ng-click="setComment(properties.mandateData.userComment,properties.mandateData.userRole)" >Comment </button>
                        </div>-->
                    </div>


            </div>

        </div> 
        </div>
    </form>


<div class="footer">
    <ul>
        <li> &copy;2018 CRISIL LIMITED - A DIVISION OF S&amp;P GLOBAL. ALL RIGHTS RESERVED.</li>
    </ul>
</div>
</div>

