body {
    
                background: #282828;
            }
    
            .spinner {
            margin: 0 auto;
            height: 64px;
            width: 64px;
            animation: rotate 0.8s infinite linear;
            border: 5px dotted white;
            border-right-color: transparent;
            border-radius: 50%;
        }
        @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
                .backto-home {
                position: absolute;
                right: 30px;
            }
            
              .cust-activity-list {
                display: flex;
                margin: 22px 0;
            }
            .cust-activity-list li {
                margin-right: 15px;
                list-style-type: none;
            }
            
            ul.nav.nav-pills li a:hover {
                color: black !important;
            }
            .container {
                max-width: 1440px;
                width: 100%;
            }
            .ba-buttons{
                    text-align: right;
            }
    
            #exTab1 .tab-content {
                background: #fff;
                padding: 5px 15px;
            }
    
            #exTab2 h3 {
                color: white;
                background-color: #428bca;
                padding: 5px 15px;
            }
    
            /* remove border radius for the tab */
    
            #exTab1 .nav-pills>li>a {
                border-radius: 0;
                padding: 14px 20px;
            }
    
            /* change border radius for the tab , apply corners on top*/
    
            #exTab3 .nav-pills>li>a {
                border-radius: 4px 4px 0 0;
            }
    
            #exTab3 .tab-content {
                color: white;
                background-color: #428bca;
                padding: 5px 15px;
            }
    
            .tabbable-panel {
                border: 1px solid #eee;
                padding: 10px;
            }
            
              .tab-content {
                min-height: 350px;
            }
    
            ul.nav.nav-pills {
                background: #282828;
                padding-left: 9px;
            }
    
            ul.nav.nav-pills li.active {
                background: #fff;
                padding: 18px 10px;
            }
    
            .top-sec {
                background: #282828;
                padding: 8px 15px;
            }
    
            ul.nav.nav-pills li {
                padding: 0px 6px;
            }
    
            ul.nav.nav-pills li a {
                color:#c2bfbf;
                font-size: 12px;
            }
    
            ul.nav.nav-pills li a.active {
                background: #fff;
                color: #d8002a;
    
            }
    
            .button-next-bottom {
                clear: both;
                display: block;
                width: 100%;
                padding: 20px 16px;
                padding-left:30px;
            }
    
            .breadcrumb {
                background-color: #eaeef4;
                padding-left: 0px;
                padding-right: 0px;
            }
    
            .form-group {
                margin-bottom: 2rem;
            }
    
            .breadcrumb li {
                font-size: 14px;
            }
    
            .breadcrumb li a {
                font-size: 14px;
                color: #87878d;
            }
    
            .new-mandate-details {
                padding: 8px 0px;
            }
    
            .new-mandate-details li {
                float: left;
                width: 50%;
                padding: 10px 0px;
                list-style: none;
                font-size: 13px;
                color: #5f5f67;
            }
    
            .new-mandate-details li span {
                display: block;
                font-weight: 500;
                padding: 3px 0px;
                color: #d7d7d9;
            }
    
            .new-mandate-details li span {
                display: block;
                font-weight: 500;
                padding: 3px 0px;
            }
    
            p {
    
                font-size: 13px;
            }
    
            /* .top-sec .left {
                border-right: 1px solid #333333;
            } */
    
            .top-sec .right {}
    
            .Type-sample-heading {}
    
            .Type-sample-heading ul {
                display: flex;
                padding: 0px 0px;
            }
    
            .Type-sample-heading ul li {
                list-style: none;
                padding: 4px 37px;
                font-size: 13px;
                color: #87878d;
            }
    
            .form-control {
                height: 34px;
                border-radius: 2px;
            }
    
            select.form-control.form-control-lg {
                height: 34px !important;
                padding: 0px;
                font-size: 13px;
                border-radius: 2px;
            }
    
            .upload-sm li {
                float: left;
                list-style: none;
                padding: 0px 32px 0px 0px;
                font-size: 13px;
                color: #d7d7d9;
            }
    
            .form-control-file {
                height: 32px;
    
            }
    
            .form-group {
                position: relative;
            }
    
            .list-ba-companies {
                position: absolute;
                height: 140px;
                overflow: auto;
                z-index: 1;
                width: 95%;
            }
    
            div#exTab1 {
                position: relative;
            }
    
            .btn-right-save.float-right {
                position: absolute;
                right: 15px;
                top: -100px;
            }
    
            span.input-group-addon {
                margin-right: 0px;
                padding: 9px 14px;
                padding-right: 23px;
            }
    
            .breadcrumb {
                background-color: inherit !important;
            }
    
            .breadcrumb-item.active {
                color: #e93117;
            }
    
            .left h6 {
                font-size: 20px;
                letter-spacing: 0.1px;
                color: #d7d7d9;
            }
    
            .left p {
                color: #87878d;
                font-size: 12px;
            }
    
            .new-mandat-details ul li {
                float: left;
            }
    
            .new-mandate-detailsid li {
                float: left;
            }
    
            ul.new-mandate-detailsid {
                padding-left: 0px;
                list-style: none;
            }
    
            ul.new-mandate-detailsid li {
                float: left;
                color: #999999;
            }
    
            ul.new-mandate-detailsid li span {
                display: block;
                color: #d7d7d9;
                font-size: 9px;
            }
    
            ul.new-mandate-detailsid li {
                padding: 0px 18px 0px 15px;
                font-size: 11px;
            }
    
            ul.new-mandate-detailsid li:first-child {
                padding-left: 0px;
    
            }
    
            ul.new-mandate-detailsid {
                padding-left: 0px;
                list-style: none;
                padding: 10px 0px 10px 0px;
                overflow: hidden;
                display: block;
                clear: both;
            }
    
            #exTab1 .nav-pills>li>a {
                width: 176px;
               text-transform: uppercase;
    
            }
    
            .nav-tabs .nav-item {
                margin-bottom: 0px;
            }
    
            .nav-tabs {
                border-bottom: none;
            }
    
            ul.nav.nav-pills li {
                padding: 0px 1px;
                background: #333333;
    
            }
    
            ul.nav.nav-pills li a span {
                float: right;
            }
    
            .component.col-xs-12.ng-scope {
                padding: 0px;
            }
    
            .footer {
                background-color: #f7f7ef;
                height: 51px;
                padding: 13px 15px;
                ;
            }
    
            .footer ul li {
                list-style: none;
                font-size: 12px;
                padding: 8px 0px
            }
    
            .btn-outline-secondary {
                color: #87878d;
                width: 180px;
                height: 43px;
                border-radius: 1px;
                border: solid 1px #5f5f67;
                margin-right: 13px;
                font-size: 12px;
                
            }
    
            .btn-outline-secondary-bgcolor {
                background-color: #333333;
                background-image: none;
                border-color: #333333;
            }
    
            .btn-secondary {
                width: 180px;
                height: 43px;
                border-radius: 1px;
                border: solid 1px #5f5f67;
                margin-right: 13px;
                font-size:12px;
            }
    
    
            .row.top-bottom {
                padding: 10px 0px 50px 0px;
            }
    
            .btn-yes,
            .btn-no {
                width: 270px;
                height: 34px;
                border: solid 1px #d7d7d9;
                float: left;
                margin-right: 10px;
                color: #87878d;
            }
    
            .gst-exempt {
                width: 100%;
    
            }
    
    
            .backto-home a {
                font-size: 12px;
                font-weight: 400;
            }
    
            .upload-dct {
                width: 260px;
                height: 48px;
                border-radius: 1px;
                background-color: #d8002a;
                color: transparent;
                margin: 0px;
                padding: 11px 0px 2px 77px;
                margin: 20px auto;
            }
    
            .height-min {
                text-align: center;
                margin: 0 auto;
                padding-top: 0px;
            }
    
            
    body .row:nth-child(2) {
        display: inherit !important;    
        
    }
    
    
    
            .respones-img-upload {
                padding-top: 90px;
                margin: 0 auto;
                width: 100%;
                text-align: center;
            }
    
            .respones-img-upload img {
                width: 55%;
                margin: 0 auto;
                text-align: center;
            }
    
            .left-policies-right li {
                display: inline-black;
    
            }
    
            ul.left-policies-right {
                display: flex;
                justify-content: flex-end;
            }
    
            ul.left-policies-right li {
                padding: 4px 14px;
                color: #afafb3;
                font-size: 12px;
            }
    
            ul.left-policies-right li a {
                color: #afafb3;
                font-size: 12px;
            }
    
            .upload-list-main {
                clear: both;
                display: block;
                width: 100%;
                padding: 20px 15px;
                padding-top: 0px;
            }
    
            .upload-list-main table {
    
                width: 100%;
            }
    
            ul.left-copay {
                float: left;
                padding-left: 0px;
    
            }
    
            ul.left-copay li {
                color: #afafb3;
                font-size: 12px;
            }
    
            .upload-list-main ul li {
                display: inline-block;
                padding: 0px 8px;
            }
    
            .checkbox {
                background-color: #fff;
                display: inline-block;
                height: 20px;
                margin: 0 .25em;
                width: 20px;
                border-radius: 4px;
                border: 1px solid #ccc;
                float: right;
            }
    
            .checkbox span {
                display: block;
                height: 20px;
                position: relative;
                width: 20px;
                padding: 0;
            }
    
            .checkbox span:after {
                -moz-transform: scaleX(-1) rotate(135deg);
                -ms-transform: scaleX(-1) rotate(135deg);
                -webkit-transform: scaleX(-1) rotate(135deg);
                transform: scaleX(-1) rotate(135deg);
                -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                -webkit-transform-origin: left top;
                transform-origin: left top;
                border-right: 3px solid #fff;
                border-top: 3px solid #fff;
                content: '';
                display: block;
                height: 12px;
                left: 3px;
                position: absolute;
                top: 10px;
                width: 6px;
    
            }
    
            .checkbox span:hover:after {
                border-color: #999
            }
    
            .checkbox input {
                display: none
            }
    
            .checkbox input:checked+span:after {
                -webkit-animation: check .8s;
                -moz-animation: check .8s;
                -o-animation: check .8s;
                animation: check .8s;
                border-color: #555
            }
    
            .list-group-item:last-child {
                margin-bottom: 0;
                border-bottom-right-radius: .25rem;
                border-bottom-left-radius: .25rem;
                float: left;
                   border: 1px solid rgba(0,0,0,.125)
             /*   padding: 0px;*/
            }
    
            .upload-list-main table tr td,
            .upload-list-main table tr td {
                height: 48px;
            }
    
            .upload-list-main table tr td {
                border-bottom: 1px solid #87878d;
    
            }
    
            .upload-list-main table tr th {
                border-bottom: 1px solid #87878d;
                font-size: 13px;
                color: #87878d;
                font-weight: 500;
                padding: 6px 0px;
    
    
            }
    
            .upload-list-main ul {
                padding-left: 0px;
                border-bottom: 1px solid #87878d;
                padding-bottom: 12px;
                margin-bottom: 0px;
            }
    
            .upload-list-main ul li a {
                color: #0d406d;
                font-size: 13px;
    
            }
    
            .nav-items-set {
                font-size: 11px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.33;
            }
            
            
            
            
            body .row:nth-child(1) {
                 display: inherit !important;    
        
            }
            
             .typeof h6 {
                font-size: 12px;
                color: #87878d;
                margin-bottom: 24px;
            }
            .tof-flx1 {
                display: flex;
                justify-content: space-between;
            }
            .tof-flx1 p:first-child {
                color: #373741;
                font-size: 13px;
                letter-spacing: 0.09px;
            }
            .tof-flx1 p:last-child {
                color: #0091ff;
                font-size: 13px;
                letter-spacing: 0.09px;
            }
            .cst-dtype {
                -webkit-appearance: button;
                border: navajowhite;
                position: absolute;
                right: -40px;
                text-transform: uppercase;
                font-size: 13px;
                color: #87878d;
            }
            .cst-download {
                background: transparent;
                font-size: 13px;
                color: #0091ff;
                letter-spacing: 0.09px;
            }
            .cst-download:focus {
                outline: 0;
                box-shadow: none;
            }
            .cst-delete:focus {
                outline: 0;
                box-shadow: none;
            }
            .cst-delete {
                background: transparent;
                outline: none;
                box-shadow: none;
                font-size: 13px;
                color: #d8002a;
                letter-spacing: 0.09px;
            }
            .custom-file-label::after {
                position: absolute;
                top: 5px;
                right: 9px;
                width: 94px;
                text-align: center;
                background: #5f5f67;
                font-size: 12px;
                color: #fff;
                border-radius: 1px;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                padding: 10px;
            }
            .custom-file-label {
                height: 48px;
                border-radius: 1px;
                border: solid 0.9px #afafb3;
                background-color: rgba(251, 251, 251, 0.5);
                padding: 13px;
                font-size: 13px;
                color: #afafb3;
            }
            .custom-file-input {
                cursor: pointer;
            }
            .upload-flx {
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                color: #5f5f67;
            }
            .approve-btn {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.8px;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;
                width: 260px;
                height: 48px;
                border-radius: 1px;
                background-color: #d8002a;
                margin-bottom: 10px;
            }
            .approve-btn:focus {
                outline: 0;
                box-shadow: none !important;
            }
            .app-btnf {
                text-align: center;
            }
            
            
            .raw { 
                  color : white;
                
            }
            
            .addVendor{
                background: none!important;
                border: none;
                padding: 0!important;
                font-family: arial, sans-serif;
                color: #069;
                text-decoration: underline;
                cursor: pointer;
            }
            
            .baVendorDetails{
                marging-top: 17px;
            }
            
    .file-option{
      background: none!important;
      border: none;
      padding: 0!important;
      /*optional*/
      font-family: arial, sans-serif;
      /*input has OS specific font-family*/
      color: #069;
      text-decoration: underline;
      cursor: pointer;
    }
    .cust-bactivity li a:hover{
        color: white;
    }
    
     
    .ba-activity > li > a {
        padding: 6px 20px;
        font-size: 13px;
    }
    .ba-activity > li > a:hover{
        background-color: #0091ff;
        color: white !important;
    }
    .btn:focus, .btn:active:focus {
        outline: none !important;
    }
            
    .select{
        color: green;
        font-size: 16px;
    }
    .deselect{
        color: red;
        font-size: 16px;
    }
.no-padding {
    padding: 0px;
}
    
    
      .cust-choosefile{
                     padding: 10px;
                    background: #d8002a;
                    border: 1px solid #d8002a;
                    color: #fff;
                    border-radius: 2px;
                    text-align: center;
                    width: 15%;
                    margin: 30px auto;
                    font-size: 16px;
                    position: relative;
            }
            .hide_file {
                position: absolute;
                z-index: 1000;
                opacity: 0;
                right: 0;
                top: 0;
                height: 100%;
                font-size: 24px;
                width: 100%;
            }
            
.mandatory {
     color: red;
}

.cmnt {
    height: 80px;
}
.btn-cmnt {
    color: white;
    background-color:#d8002a!important;
    border-color:#d8002a!important;
}

.div-cmnts{
    overflow: scroll;
    height: 200px;
    overflow-x: hidden;
    
}

.post-cmnt{
        margin-bottom: 3%!important;
}

    
    