.container-heading{
    margin-top:128px;
}
.text-area-resize, .text-area-resize.form-control:focus{
	resize: none;
	background-color:#E1F5FF;
	border: none;
	font-size:16px;
}
.custom-border-right {
    border-right: 1px solid #BDBDBD;
}
.default-font-color h6{
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}
.default-font-color span{
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}
.file > input[type='file'] {
    display: none;
}
.file.file--uploading a label h4 {
    width: 100%;
    padding-left:10px;
    font-size:16px;
}
.font-style-bg{
    color:#0055A5;
}
.file > a label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
}
.custom-styles h6, .custom-styles p, .btn-approve, .btn-dissapprove{
    font-size:16px;
}
.btn-approve, .btn-approve.btn-primary:hover{
    font-weight:400;
    padding: 5px 40px;
    background-color:#0055A5;
}
.btn-dissapprove, .btn-dissapprove.btn-outline-primary:hover{
    font-weight:500;
    padding: 5px 18px;
    color:#0055A5;
    border:1px solid #0055A5;
    background-color:white;
}
.cursor-pointer{
    cursor: pointer;
}
.pending-styles{
    color:#F7941E;
    font-size:14px;
    font-weight:500;
}
.img-padding{
    padding-left: 9px;
    padding-right: 5px;
}
.custom-bg{
    background-color: rgba(245, 245, 245, 1);
    padding:20px;
}
.approve-border{
    border:2px dashed #BDBDBD;
}
.legal-sub-styles h6{
    padding-left:41px;
    font-size:16px;
    color:#757575;
    font-weight:400;
}
.approve-styles h5{
    padding-left:46px;
    font-size:16px;
    font-weight:bold;
}
.ae-color, .campign-text{
    font-size:16px
}

.error-message{
    color: #EB1E23;
width: 333px;
height: 24px;
left: 112px;
top: 504px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

}