 <div class="row">
          <!--Nav options-->
    <div class="col-lg-2 mt-2">
     <div class="sidebar-nav">
        <div class="navbar navbar-default navbar-side-nav" role="navigation">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-2">
                      <span class="visible-xs navbar-brand text-styles">Documents</span> 
                    </div>
                    <div class="col-10">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <img src="widgets/customPaymentPage/assets/img/expand_more.png">
                        </button>  
                    </div>
                </div>
            </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav ul-navbar-nav">
            <li><a href="#">Status</a><hr class="mb-0"></li>
            <li><a href="#">Payment <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png"></a></a></li>
            <li><a href="#">Creatives <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png"></a></li>
            <li><a href="#">Documents <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png"></a><hr class="mb-0"></li>
            <li><a href="#">Refunds <span class="badge rounded-pill bg-primary">{{refundLength}}</span></a></li>
            <li><a href="#">Memo <span class="badge rounded-pill bg-primary">{{memoLength}}</span></a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
        <!--upload drag & drops-->
<div class="col-lg-10">
    <div class="row">
     <div class="col-md-12">
        <h2 class="payment-m">Payment</h2>
     </div>
    </div>
     <div class="row">
      <div class="form-group mt-4 col-md-7">
        <label for="Campaign Name" class="advertiser">ADVERTISER</label>
        <select class="form-select form-control inputState" aria-label="Default select example">
            <option>Select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
      </div>
      </br>
      </br>
    <div class="row">
        <div class="col-md-3">
          <label for="total_pay_amount" class="form-label t-pay-amount">TOTAL PAYABLE AMOUNT</label>
          <input type="number" class="price" min="0" value="0">
        </div>
     </div>
      </br>
        <!--Total payable amount-->
        
          <div class="row drag-drop-box">
        <div class="col-md-4 bg-color">
              <div class="row p-3">
                  <div class="col-lg-6 col-6 mt-2">
                      <section class="default-font-color">
                         <h6 class="mb-0">CLIENT REFERENCE</h6>
                         <span>04352</span>
                      </section>
                  </div>
                  <div class="col-lg-6 col-6 mt-2">
                      <section class="default-font-color">
                         <h6 class="mb-0">AMOUNT</h6>
                       <!--  <input type="text" class="price-amount form-control" value="₱ ">-->
                        <input type="number"  min="0"  class="price-amount form-control" value="0">
                      </section>
                  </div>
              </div>
        </div>
        <div class="col-md-8 input-box-border">
            <div class="mb-3">
                <input type="file" class="file-upload-input form-control" placeholder="Username" name="usrname">
                <div class="drag-text">
                    <div class="row p-3">
                        <div class="col-md-1 col-2">
                          <img src="widgets/customPaymentPage/assets/img/description.png">  
                        </div>
                        <div class="col-md-10 col-8">
                            <section class="default-font-text">
                              <span>Telecast order</span>
                               <h4>Click to select file or drag file here</h4> 
                            </section>
                        </div>
                        <div class="col-md-1 col-2 text-right">
                          <img src="widgets/customPaymentPage/assets/img/add.png">  
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </br>
      </br>
    <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border">
        <div class="mb-3">
          <input type="file" class="file-upload-input form-control" placeholder="Username" name="usrname">
            <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customPaymentPage/assets/img/description.png">  
            </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>Proof of payment</span>
                  <h4>Click to select file or drag file here</h4> 
              </section>
            </div>
            <div class="col-md-1 col-2 text-right">
             <img src="widgets/customPaymentPage/assets/img/add.png">  
            </div>
            </div>
            </div>
        </div>
        </div>
      </div>
      </br>
      </br>
      <div class="row">
          <div class="col-md-3 tax-custom-padding">
            <label class="form-check-label" for="customSwitches">CREDITABLE WITHOLDING TAX</label>
          </div>
          <div class="col-md-9">
            <div class="form-check form-switch">
              <label class="form-check-label turn-on-styles" for="customSwitches">TURN ON </label>
              <input type="checkbox" class="form-check-input" id="customSwitches"> 
            </div>
        </div>
        </div>
    <div class="row drag-drop-box">
      <div class="col-md-12 input-box-border">
        <div class="mb-3">
          <input type="file" class="file-upload-input " placeholder="Username" name="usrname">
            <div class="drag-text">
            <div class="row p-3">
              <div class="col-md-1 col-2">
                <img src="widgets/customPaymentPage/assets/img/description.png">  
            </div>
             <div class="col-md-10 col-8">
              <section class="default-font-text">
                <span>CWT</span>
                  <h4>Click to select file or drag file here</h4> 
              </section>
            </div>
            <div class="col-md-1 col-2 text-right">
             <img src="widgets/customPaymentPage/assets/img/add.png">  
            </div>
            </div>
            </div>
        </div>
        </div>
      </div>
       </br>
      </br>
       <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary submit-btn">SUBMIT</button>
        </div>
      </div>
      </div>
      </div>