<div class="container" ng-init="init();" >
  <div class="row">
    <div class=" col-md-12 container-heading">
        <h1> <img src="widgets/customApprovalComelecDoc/assets/img/arrow_back.png"> &nbsp; {{properties.campaign.clientReferenceNumber}}</h1>
    </div>
  </div>
<!-- approval and textare -->
<form name="form">
<div class="row" >
    <div class="col-md-3">
			<div class="card p-3">
				<div class="card-body">
					<section class="text-center custom-styles">
						<p class="mb-2">CURRENT STATUS</p>
						<h6 class="mb-1">{{properties.campaign.status}}</h6>
					</section>
				</div>
			</div>
    </div>
    <div class="col-md-6">
			<div class="row">
				<div class="col-md-9">
          <textarea class="form-control text-area-resize" rows="3" ng-model="comment" placeholder="Add comment"  id="comment" #comment name="comment" required ></textarea>
           <span class="error-message" ng-if="isCommentError">Comment is required.</span>
			  </div>
			  
			</div>
				<div class="row mt-4">
					<div class="col-md-4 col">
						<button type="button" class="btn btn-primary btn-approve" ng-click="submitTask(comment,'APPROVED')">APPROVE</button>
					</div>
					<div class="col-md-8 col">
						<button type="button" class="btn btn-outline-primary btn-dissapprove" ng-click="submitTask(comment,'DISSAPPROVED')">DISSAPPROVE</button>
					</div>
					<div class="col-md-8 col">
						<button type="button" class="btn btn-outline-primary btn-dissapprove" ng-click="submitTask(comment,'CANCELLED')">CANCEL</button>
					</div>
			</div>
    </div>
		<div class="col-md-3"></div>
</div>
</form>
<!-- buttons -->

<!-- accordian -->
<div class="row">
  <div class="col-md-4">
    <h2>Campaign details</h2>
  </div>
  <div class="col-md-8 text-right">
    <span class="cursor-pointer" data-toggle="collapse" data-target="#camp-details" aria-expanded="true">
     <img src="widgets/customApprovalComelecDoc/assets/img/expand_more.png">
    </span>
  </div>
</div>
<div id="camp-details" class="collapse show custom-bg">
<div class="row sph-tv-block">
    <div class="col-md-3  mb-3 col-7 custom-border-right">
      <section class="default-font-color">
        <h6 class="mb-0"> CLIENT REFERENCE</h6>
       <span class="verticalLine"> {{properties.campaign.clientReferenceNumber}}</span>
      </section>
    </div>
  <div class="col-md-3 mb-3 col-5 custom-border-right">
    <div class="row">
      <div class="col-md-6 mb-3">
        <section class="default-font-color">
         <h6 class="mb-0">FROM</h6>
         <span class="verticalLine">{{properties.campaign.startDate}}</span>
        </section>
      </div>
      <div class="col-md-6 mb-3">
        <section class="default-font-color">
         <h6 class="mb-0">TO</h6>
         <span class="verticalLine">{{properties.campaign.endDate}}</span>
        </section>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3 col-4 custom-border-right">
    <section class="default-font-color">
     <h6 class="mb-0">ADVERTISER</h6>
     <span class="verticalLine">{{properties.campaign.advertiserName}}</span>
    </section>
  </div>
  <div class="col-md-1 mb-3 col-8">
    <div class="row">
        <div class="col-md-11">
            <section class="default-font-color">
            <h6 class="mb-0">AD TYPE</h6>
            <span class="verticalLine">{{properties.campaign.adType}}</span>
        </section>   
        </div>
    </div>
    </div>
</div>
<div class="row sph-tv-block">
  <div class="col-md-2 mb-3 col-5 custom-border-right">
    <section class="default-font-color">
     	<h6 class="mb-0">AIRING CHANNEL</h6>
     	<span class="verticalLine">{{properties.campaign.airingChannel}}</span>
    </section>
  </div>
  <div class="col-md-2 mb-3 col-7 custom-border-right">
    <section class="default-font-color">
     <h6 class="mb-0">PLACEMENT</h6>
     <span class="verticalLine">{{properties.campaign.placementFrom}}</span>
    </section>
  </div>
  <div class="col-md-2 mb-3 col-4 custom-border-right">
    <section class="default-font-color">
     <h6 class="mb-0">PRIMARY CANDIDATE</h6>
     <span class="verticalLine">{{properties.campaign.primaryCandidateName}}</span>
    </section>
  </div>
  <div class="col-md-3 mb-3 col-8">
    <section class="default-font-color">
     <h6 class="mb-0">AGENCY</h6>
     <span class="verticalLine">{{properties.campaign.agency}}</span>
    </section>
  </div>
</div>
<div class="row mb-3">
  <div class="creatives mt-3">
    <h4>CREATIVES</h4>
  </div>
  <div class="col-lg-3 m-3">
    <img src="widgets/customApprovalComelecDoc/assets/img/payment_s_img1.png">
  </div>
  <div class="col-lg-3 m-3">
   <img src="widgets/customApprovalComelecDoc/assets/img/payment_s_img2.png">
  </div>
  <div class="col-lg-3 m-3">
   <img src="widgets/customApprovalComelecDoc/assets/img/payment_s_img1.png">
  </div>
</div>
<div class="row">
  <div class="payment">
     <h4>PAYMENT</h4>
  </div>
  </div>
<div class="row">
  <div class="form-group mt-4 col-md-12">
      <div class="file file--uploading">
        <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{officalReceiptDoc.docName}}&caseId={{officalReceiptDoc.sourceId}}">  <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style-bg">Official receipt</h4>
     </label></a>
   <!-- <input id="input-file" type="file"> -->
    </div>
  </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
      <div class="file file--uploading">
      <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{proofOfPayment.docName}}&caseId={{proofOfPayment.sourceId}}">    <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style">Proof of payment  <!--<img  class="img-padding" src="widgets/customApprovalComelecDoc/assets/img/Indicator.png">--> </h4>
     </label>
   </a>
    </div>  
    </div>
</div>
<div class="row">
   <div class="payment">
     <h4>CREDITABLE WITHOLDING TAX</h4>
  </div>
  <div class="form-group col-md-12 mt-3">
      <div class="file file--uploading">
              <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{creaditableDoc.docName}}&caseId={{creaditableDoc.sourceId}}"> 
     <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style">Doc. label  </h4>
     </label>
    </a>
    </div>  
    </div>
</div>
<!-- collaps div close -->
</div>
<hr>
<div class="row">
   <div class="payment">
     <h4>COMELEC documents</h4>
  </div>
  <div class="form-group mt-4 col-md-12">
      <div class="file file--uploading">
    <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{polAdsDoc.docName}}&caseId={{polAdsDoc.sourceId}}"> 
     <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style-bg">Original Signed Pol Ad Contract</h4>
     </label>
   </a>
    </div>
  </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
      <div class="file file--uploading">
              <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{signedTermsDoc.docName}}&caseId={{signedTermsDoc.sourceId}}"> 
     <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style">Original Signed Terms and Conditions  </h4>
     </label>
   </a>
    </div>  
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
      <div class="file file--uploading">
     <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{officalReceiptDoc.docName}}&caseId={{officalReceiptDoc.sourceId}}"> 
     <label for="input-file">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style">Official receipt  </h4>
     </label>
     </a>

    </div>  
    </div>
</div>
<!--
<div class="row">
    <div class="form-group col-md-12">
      <div class="file file--uploading">
    <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{officalReceiptDoc.docName}}&caseId={{officalReceiptDoc.sourceId}}"> 
     <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style-bg">Authority to Incur Election Expenditure</h4>
     </label>
    <input id="input-file" type="file"> 
    </div>  
    </div>
</div>-->
<div class="row">
    <div class="form-group col-md-12">
      <div class="file file--uploading">
            <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{telecostOrderDoc.docName}}&caseId={{telecostOrderDoc.sourceId}}"> 
    <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style">Telecast order </h4>
     </label>
       </a> 
    </div>  
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
      <div class="file file--uploading">
           <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{agencyLetterDoc.docName}}&caseId={{agencyLetterDoc.sourceId}}"> 
    <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style-bg">Agency appointment letter</h4>
     </label></a>
     
    </div>  
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
      <div class="file file--uploading">
 <a  class="text-color" href="{{apiHostName}}/api/v1/s3/download?key={{specialPowerAttrDoc.docName}}&caseId={{specialPowerAttrDoc.sourceId}}"> 
    <label for="">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style-bg">Special power of attorney</h4>
     </label>
  </a> 
    </div>  
    </div>
</div>
  <div class="row">
    <div class="col-md-6">
	 <div class="card p-3 approve-border">
	  <div class="card-body">
	      <div class="approve-styles mb-3">
	          <h5>Approved by</h5>
	      </div>
		<section class="custom-styles">
		  <h6 class="mb-2"><img  class="img-padding" src="widgets/customApprovalComelecDoc/assets/img/done.png"> Head, Integrated sales</h6>
			<h6 class="mb-1"><img  class="img-padding" src="widgets/customApprovalComelecDoc/assets/img/done.png"> CFO</h6>
		</section>
		<section class="legal-sub-styles mt-3">
		    <h6>legal Notorization  <img  class="img-padding" src="widgets/customApprovalComelecDoc/assets/img/Indicator.png"> <!--<span class="pending-styles">Pending</span>--></h6>
		    <h6>Submitted to COMELEC <img  class="img-padding" src="widgets/customApprovalComelecDoc/assets/img/Indicator.png"></h6>
		</section>
	  </div>
	</div>       
	</div>
	<div class="col-md-6"></div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-12">
          <h2>Comments</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-md-2">
          
      </div>
      <div class="col-md-10"  ng-repeat="comment in comments">
          <span class="ae-color">
             <b>{{comment.userGroup}}</b><span> on {{comment.createdOn | date:"MM/dd/yyyy 'at' h:mma"}}/span>
          </span>
          <p class="campign-text">
              “{{comment.description}}”
          </p>
      </div>
  </div>
</div>