

body,html {
  font-family:"Inter"!important;
}
.container-heading{
padding:48px 0px 32px 0px;
    
}
.tab-content{
    font-size:12px;
    margin-top: 40px;
}
.form-control{
    font-size:16px !important;
    line-height:24px;
}
.btn-f{
    font-size:14px !important;
}
.airing-channels label input {
  position: relative;
} 
.nav{
  font-size:20px;
  line-height:24px;
  display: flex;
  justify-content: flex-start;
      margin-bottom: 24px !important;
}
/*.nav-item.active{
  background: #0055a5 !important;
  border: 2px solid #0055a5 !important;
  color: white !important;
  width: 41px !important;
  height: 41px !important;
  border-radius: 20px !important;
}*/

.nav-item.active .circle-blue{
  background: #0055a5 !important;
  border: 2px solid #0055a5 !important;
  color:#fff !important;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
      margin-left: -20px !important;  
}

.nav>li>a{
    padding:0px;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
        margin-right: 16px;
}
.nav>li>a .circle-blue{
width:40px !important; 
height:40px !important;
border-radius: 20px !important;  
border:2px solid #BDBDBD; !important;
display: inline-block;
text-align: center;
padding-top: 5px;
 color: #757575;

}

.nav_num.active .circle-blue{
     background: #0055a5 !important;
  border: 2px solid #0055a5 !important;
  color: white !important;
}
.content_text{
	/*
position: absolute;
width: 167px;
left: 46px;
margin-top: -26px;
color:#757575;
font-size: 20px;
Line-height: 24px;
Line-height: 99%;
align: Left;
Vertical-align: Center;
*/
padding-left: 8px;
color: #757575;
font-size: 20px;
font-weight:500;

}
.content_text.active{
color: #0055A5 !important;
 display: inline-block;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after,
input[type="checkbox"] {
  outline-color: #0055a5 !important;
}
[for="Campaign Name"]{
    font-size:14px;
}
label{
     font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px;
    margin-bottom: 4px;}

@media (max-width: 768px) {
  .button_container {
    width: 90% !important;
  }
}
/* add creatives */
#add_creatives .card-body .card-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 24px;
}

/*.airing{*/
/*    width: 5.333333% !important;;*/
/*}*/
 

.container-heading-header{

font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
color: #000000;
}


input[type="text"], .form-select, .form-control {
	
    background-color:#E1F5FF !important;
    border: 2px solid #fff !important;
    border-radius: 4px !important;
    height: 40px !important;
    margin: 0px;
    padding: 0px !important;
    padding-left: 8px !important;
    box-shadow: none !important;
    outline: none;
	font-size:16px !important;
font-family:"Inter"!important;
    }

  input[type="text"]:focus, .form-select:focus, .form-control:focus{
	border: 2px solid #0055A5 !important;
	outline:0px solid #0055A5 !important;
    }
  :focus-visible{
	outline:0px solid #0055A5 !important;
	border:none;
    }

.image-upload-wrap {
    margin-top: 6px;
    border: 1px solid gray;
    /* width: 696px; */
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 50%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.drag-text {
  text-align: center;
}
.drag-text h3 {
  font-weight: 100;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: initial;
}


.nav-item a span:hover{
	color: #0055A5;
	border-Color:#0055A5;
}


.nav-item .active .content_text{
	color: #0055A5;
}

.drag-text h3 {
	    font-weight: 400 !important;
    font-size: 14px;
}

.p-2 {
background: #E1F5FF!important;
}

.btn-primary {
    color: #fff !important;
    background-color: #0055A5!important;
    border-color: #0055A5!important;
    border-radius: 4px!important;
    height: 40px !important;
    /* width: 176px; */
    font-size: 16px!important;
    padding: 0px 65px!important;
}

.btn-primary .active {
	
	border:none;
}

.btn-f{
    /* color: #000; */
    background-color: #fff!important;
    border-color: #f8f9fa!important;
    border-radius: 4px!important;
    color: #0055A5!important;
    width: 64px!important;
    margin-right: 10px!important;
}

.airing{
	margin-right: 16px!important;
}

.airing-channels{
	    clear: both;
}
.p-2 {
    /* padding: .5rem!important; */
    padding: 64px 0px;
    padding-top: 20px !important;
    padding-bottom: 20px;
}
.form-control.add-c-form, .add-c-form  {
    border: 2px solid #0055A5 !important;
    /* box-sizing: border-box; */
    border-radius: 4px!important;
    background-color: #fff !important;
}

.imgClass{
  width: 100%;
  height: 100%;
}
    .category-input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 55;
    opacity: 0;
}
.category-input:checked {
  opacity: 1;
}
.category-input + label {
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
}
.saveDraft{
    width: 151px;
    left:383px;
        font-size: 14px !important;
    height: 40px;
    color: #0055A5 !important;
  line-height: 2.0 !important;

  border: 2px solid #0055A5 !important;
box-sizing: border-box !important;
border-radius: 4px !important;
margin-left: 14px !important;
}

.helpButton{
  margin-left: 14px !important;  
      color: #fff !important; 
    border-radius: 53% !important; 
    background: #0055a5 !important; 
    width: 24px important; 
    height: 24px !important; 

}