<div class="container" ng-init="init();">
    <div class="container-heading">
        <h1 class="container-heading-header">New Campaign</h1>
    </div>
    <form name="campaign">
        <div id="exTab1" class="tabbable-line" >
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link nav_num active" data-toggle="tab" id="detailsTab" href="#add_details"><span
                            class="circle-blue">1</span><span class="content_text">Add details </span>
                            <b>&#8594;</b>
                            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_num" data-toggle="tab" id="creativesTab" href="#add_creatives"><span
                            class="circle-blue">2</span><span class="content_text">Add creatives</span><b>&#8594;</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_num" data-toggle="tab" id="paymentTab" href="#"><span
                            class="circle-blue">3</span><span class="content_text">Payment</span><b>&#8594;</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_num" data-toggle="tab" id="submitTab" href="#"><span
                            class="circle-blue">4</span><span class="content_text"> Submit documents</span></a>
                </li>
            </ul>
            <hr>
            <div class="tab-content">
                <div id="add_details" class="tab-pane active">
                    <div class="row">
                        <div class="form-group col-md-7">
                            <label for="Campaign Name">CAMPAIGN NAME</label>
                            <input type="text" class="form-control" ng-model="properties.campaign.campaignName" id="Campaign Name"
                                 placeholder="Campaign Name" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-5 mt-3" style="padding-left:0px;">
                                    <label for="Campaign Name">FROM</label>
                                    <input type="date" ng-model="properties.campaign.startDate" class="form-control" id="Campaign Name"
                                        placeholder="Campaign Name" />
                                </div>
                                <div class="form-group col-md-6 mt-3">
                                    <label for="Campaign Name">TO</label>
                                    <input type="date" ng-model="properties.campaign.endDate"  class="form-control" id="Campaign Name"
                                        placeholder="Campaign Name" />
                                </div>
                            </div>
                        </div>

                        <div class="form-groupmt-4 col-md-5">
                            <label for="Campaign Name">CLIENT REFERENCE </label>
                            <div class="d-flex">
                                <input id="inputState" type="text" ng-model="properties.campaign.clientReferenceNumber"  class="form-control" placeholder="SPH-TV-2022-409">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mt-4 col-md-7">
                                <label for="Campaign Name">AGENCY</label>

                                <input type="text" disabled ng-model="properties.userId" class="form-select" style="width: 70%; background-color: #e1f5ff; border: none" id="Campaign Name" placeholder="Decode Advertising and Marketing Agenc"/>
                             
                            </div>
                        </div>
                        <div class="form-group mt-4 col-md-7">
                            <label for="Campaign Name">ADVERTISER</label>
                             <input
                              type="text"
                              class="form-select"
                              id="Campaign Name"
                              placeholder="Select"
                              ng-model="properties.campaign.advertiserName"
                              ng-model-options="{ debounce: 300 }"
                              ng-keyup="getAdvertiser($event)"
                            />
            <ul ng-if="!enFlag" style="z-index:{{zIndex}}" id="uid_advertisers" class="list-group list-ba-companies" >
        	 <li class="list-group-item " ng-repeat="advertizer in advertizers" ng-click="onSelectAdvertiser(advertizer)">{{advertizer.longName}}</li>
        	</ul>
                        </div>
                        <div class="form-group mt-4 col-md-7">
                            <label for="Campaign Name">PRIMARY CANDIDATE</label>
                                <input
                                  type="text"
                                  class="form-select"
                                  id="Campaign Name"
                                  placeholder="Select"
                                  ng-model="properties.campaign.primaryCandidateName"
                                  ng-model-options="{ debounce: 300 }"
                                  ng-keyup="getPrimaryCandidates($event)"
                                />
                                <ul style="z-index:{{zIndexP}}" id="uid_primaryCandidate" class="list-group list-ba-companies" ng-if="!enFlagNew">
                            	 <li class="list-group-item " ng-repeat="primaryCandidate in primaryCandidates" ng-click="onSelectPrimaryCandidate(primaryCandidate)">{{primaryCandidate.candidateName}}</li>
                            	</ul>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">

                                <label for="Campaign Name">AD Type </label>
                             
                               <select class="form-select" name="adType"   ng-model="properties.campaign.adType" >
                                    <option value="" disabled selected>Please select the adtype.</option>
                                    <option ng-repeat="aType in adTypes">{{aType.adTypeName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group mt-4 col-md-7">
                            <label for="Campaign Name">TELECAST ORDER</label>
                            <!--<input type="file-upload-input" class="form-control" id="Campaign Name" placeholder="Campaign Name"/>-->

                           <!--- <div class="image-upload-wrap">
                                
                                <input class="file-upload-input" type='file' />
                                <div class="drag-text">

                                    <h3></h3>


                                </div>
                            </div>-->
                                    <div class="file file--uploading">
              <label for="input-file">
                <img src="widgets/customNewCampaign/assets/img/description.png"> <h4>Click to select file or drag file here</h4> <img src="widgets/customNewCampaign/assets/img/add.png">
              </label>
              <input id="input-file" type="file"  ng-file-model="files">
    </div>
                            
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="Campaign Name"> AIRING CHANNELS </label>
                        <div class="row">
                            <div id="Airing Channel " class="p-2 col-md-7">

                               <div class="filter-active">
                                <div class="col-lg-1 airing">
                                    <button type="button" ng-click="airingChannelFilter('all')" class="btn btn-dark btn-f active-select">All</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('0,1,2,3,4,5,6,7,8,9')" type="button" class="btn btn-light btn-f">0-9</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('a,b,c,d,e')" type="button" class="btn btn-light btn-f btn-f">A-E</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button  ng-click="airingChannelFilter('f,g,h,i,j')" type="button" class="btn btn-light btn-f">F-J</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('k,l,m,n,o')"  type="button" class="btn btn-light btn-f">K-O</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('p,q,r,s,t')" type="button" class="btn btn-light btn-f">P-T</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button  ng-click="airingChannelFilter('u,v,w,x,y,z')"  type="button" class="btn btn-light btn-f">U-Z</button>
                                </div>
                            </div>
                                <div class="w-100 mt-3 airing-channels">

                                    <div class=" checkbox col-xs-6 col-sm-4 col-md-3 col-lg-3 m-2" ng-repeat="channel in airingChannels">
                                        <label style="width: fit-content">
                                            <input type="checkbox"  ng-click="onSelectAiringChannel(channel.channelName)" class="form-check-input" />{{channel.channelName}}
                                        </label>
                                    </div>
                                 </div>
                            </div>

                        </div>
                   
                
                <label for="Placement From" class="d-flex"
                    style="font-size: 14px; font-weight: 500; line-height: 24px; margin-top: 50px;">PLACEMENT
                    FROM</label>
                <div id="Placement From" class="d-flex justify-content-between" style="width: 24%">
                    <div class="form-check w-90">
                        <input class="form-check-input"   ng-model="properties.campaign.placementFrom" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="National"  />
                        <label class="form-check-label" for="National">
                            National
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"   ng-model="properties.campaign.placementFrom"  type="radio" name="exampleRadios" id="exampleRadios1"
                            value="Regional" checked  />
                        <label class="form-check-label" for="Regional">
                            Regional
                        </label>
                    </div>
                </div>
                <div class="mt-4 button_container justify-content-between">
                    <button type="button" class="btn btn-primary"
                        style="width: 176px; height:40px; font-size:16px">NEXT</button>
                </div>

            </div>
        </div>

            <div id="add_creatives" class="tab-pane">
                <div class="row mg-bottom-60 ">
                    <div class="col-lg-6">
                        <span class="saved-creative">
                            Select from your saved creatives
                        </span>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-3 searchpay">
                            <input type="text" class="form-control add-c-form" placeholder="Search" form-control="Search"
                                aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text srch-icon" style="background-color: none;">
                                <img src="widgets/customNewCampaign/assets/img/searchIcon.png">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-select add-c-form" aria-label="Default select example">
                            <option selected> SORT BY: Recently added</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 select">
                        <span>
                            {{creativeLLength}} selected <a href="">Clear all X</a>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" ng-repeat="creatve in creativeObj">
                        <div class="card border-0">
                            <img src="{{creatve.creativeUrl}}"
                                alt="Card image cap">
                                <input class='category-input creativeCheckBox' type="checkbox"  id="{{creatve.creativeId}}">
                                <label ng-click="onSelectImg(creatve.creativeId)" for="{{creatve.creativeId}}"></label>
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>{{creatve.creativeId}}</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>{{creatve.primaryCandidate}}
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>{{creatve.materialLength}}</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>{{creatve.materialVersion}}</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img2.png"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img3.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img4.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img5.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img6.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img7.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img8.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img9.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img10.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img11.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img12.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img13.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img14.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img15.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card border-0">
                            <img src="widgets/customNewCampaign/assets/img/campaign_img16.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>46226</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>Luc Besson
                                </p>
                                <p class="card-text"><span class="card_info_key">LENGTH: </span>1min 30seconds</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>2.1</p>
                            </div>
                        </div>
                    </div>-->
                </div>
               
                <div class="t_load_creatives m-auto main-load" >
                     <hr />
                   <a href="">LOAD MORE CREATIVES</a> </div>
                   
                    <div class="row">
                    <div class="btn-bottom">
                    <button type="button" ng-click="addCreatives()"  class="btn btn-primary btn-sm">CHOOSE SELECTED</button>
                    <button type="button" ng-click="saveCampaign(properties.campaign,properties.userId)" class="btn btn-primary white-btn">SAVE DRAFT</button>
                    <button type="button" class="btn btn-light info-btn">i</button>
                  </div>
                </div>
           
            </div>
        </div>
    </form>
</div>