<div class="container" ng-init="init();">
 <div class="row">
    <div class="col-md-12 mb-3">
       <div class="container-heading">
          <h1> <img src="widgets/customUploadOfficialReceipt/assets/img/arrow_back.png"> &nbsp; Upload Official receipt</h1>
      </div>      
    </div>
 </div>
 <div class="row mt-3">
   <div class="col-md-2 mb-3 col-4 custom-border-right">
     <section class="default-font-color">
       <h6 class="mb-0">PAYMENT ID</h6>
       <span class="verticalLine">{{properties.campaign.clientReferenceNumber}}</span>
     </section>
   </div>
   <div class="col-md-3 mb-3 col-6 custom-border-right">
     <section class="default-font-color">
       <h6 class="mb-0">ADVERTISER</h6>
       <span class="verticalLine">{{properties.campaign.advertiserName}}</span>
     </section>
   </div>
   <div class="col-md-2 mb-3 col-5 custom-border-right">
     <section class="default-font-color">
       <h6 class="mb-0">CLIENT REFERENCE</h6>
       <span class="verticalLine">{{properties.campaign.clientReferenceNumber}}</span>
     </section>
   </div>
   <div class="col-md-5 mb-3 col-5">
     <section class="default-font-color">
       <h6 class="mb-0">PROOF OF PAYMENT</h6>
       <span class="verticalLine" >
        
           <a href="{{apiHostName}}//api/v1/s3/download?key={{todocument.docName}}&caseId={{todocument.sourceId}}"  class="text-color"> {{todocument.docName}} &nbsp;<img src="widgets/customUploadOfficialReceipt/assets/img/file_download.png"></a>
           </span>
     </section>
   </div>
 </div>
 <form name="form">
 <div class="row mt-3">
   <div class="col-md-5 mt-3">
     <div class="form-group custom-input-styles">
       <label for="pwd">OFFICAL RECEIPT NUMBER</label>
       <input type="text" ng-model="properties.campaign.payment.officialReceiptNumber" id="officialReceiptNumber" #officialReceiptNumber name="officialReceiptNumber" required class="form-control" >
       <span class="error-message" ng-if="isOfficialNumberError">Offical receipt number is required.</span>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="form-group mt-4 col-md-7">
      <label for="Campaign Name" class="custom-font">OFFICAL RECEIPT</label>
        <div class="file file--uploading">
     <label for="input-file">
        <img src="widgets/customNewCampaign/assets/img/description.png"> <h4 class="font-style">Click to select file or drag file here</h4> <img src="widgets/customNewCampaign/assets/img/add.png">
     </label>
    <input id="input-file" onchange="angular.element(this).scope().fileOfficialReceiptSelected(this)" type="file">
    </div>
    <span class="error-message" ng-if="isOfficialError">Offical receipt is required.</span>
    </div>
 </div>
 <button type="button" ng-click="submitORTask(properties.campaign,files,properties.userName);" class="btn btn-secondary custom-bg-color">SAVE</button>
</form>
</div>