
.container-heading{
    margin-top:128px;
}
.btn-accordian{
    border: 1px solid #0055A5;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color:#0055A5;
}
.btn-info:hover, .btn-info:focus{
    background-color:#0055A5;
    border-color:#0055A5;
    box-shadow:initial;
}
/*.sph-tv-block .col-md-3, .sph-tv-block .col-md-4,.sph-tv-block .col-md-2, .sph-tv-block .col-md-1{*/
/*    border-right: 1px solid #BDBDBD;*/
/*} */
/*.sph-tv-block .col-md-3:last-child, .sph-tv-block .col-md-1:last-child, .sph-tv-block .col-md-11:last-child {*/
/*    border-right: 0px*/
/*}*/

.custem-border-right{
     border-right: 1px solid #BDBDBD;
}
.default-font-color h6{
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}
.default-font-color span{
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}
.saved-btn{
    background-color: #F7941E;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    font-size:16px;
    font-weight:500;
}
.creatives h4{
    font-size:24px;
    font-weight:600;
}
.inputState{
    background-color: #e1f5ff;
    border: none;
    font-size:16px;
    font-weight:400;
}
.advertiser, .t-pay-amount{
    font-size:14px; 
    font-weight:500;
}
.price, input.price:active, input.price:focus {
    font-size:24px;
    font-weight:600;
    border:none;
}
.price-amount{
   font-size:24px;
   font-weight:600;
   background-color:#F5F5F5;
   border: 0px solid #F5F5F5!important;
   box-shadow: none!important;
}
  /*drag & drop fun*/
   /*.image-upload-wrap {*/
   /* border: 1px solid #BDBDBD;*/
   /* width: 696px;*/
   /* height: 54px;*/
   /*}*/
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.input-group-text{
    background-color:white !important;
    border:none !important;
}
.submit-btn{
    width:176px;
    font-size:16px;
}
.align img{
    margin-left:20rem;
}
.default-font-text span{
    font-size:16px;
    font-weight:500;
}
.default-font-text h4{
    font-size:14px;
    font-weight:400;
    color:#757575;
}
.drag-drop-box .input-box-border{
    border: 1px solid #BDBDBD;
}
.drag-drop-box .bg-color{
    background-color: #F5F5F5;
}
.lable-text-font{
    font-size:14px;
    font-weight:500;
}
.side-nav-fonts .list-group-item{
    font-size:16px;
    font-weight:400;
    color:#0055A5;
    background-color:#F5F5F5;
    border:0px !important;
}
.side-nav-fonts a.list-group-item:focus, .side-nav-fonts a.list-group-item:hover, .side-nav-fonts a.list-group-item:active {
    border-bottom:0px!important;
    background-color:#F5F5F5;
    color:#0055A5 !important;
}
.side-nav-fonts .list-group-item>.badge {
    float: initial;
}
.side-nav-fonts a.list-group-item:hover .badge{
    color:white;
    
}
.side-nav-fonts a.list-group-item+.list-group-item.active{
   margin-top:0px 
}
.horizental-style{
    position:relative;
    top:12px;
}
.more-font{
    font-size:12px;
    color:#0055A5;
    font-weight: 400;
    line-height:16px;
}
/*toggle switch*/
/*.toggle-switch > label::before {*/
/*    background: rgb(0, 0, 0);*/
/*    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);*/
/*    border-radius: 8px;*/
/*    content: '';*/
/*    height: 16px;*/
/*    margin-top: -8px;*/
/*    position:absolute;*/
/*    opacity: 0.3;*/
/*    transition: all 0.4s ease-in-out;*/
/*    width: 40px;*/
/*}*/
/*.toggle-switch > label::after {*/
/*    background: rgb(255, 255, 255);*/
/*    border-radius: 16px;*/
/*    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);*/
/*    content: '';*/
/*    height: 24px;*/
/*    left: -4px;*/
/*    margin-top: -8px;*/
/*    position: absolute;*/
/*    top: -4px;*/
/*    transition: all 0.3s ease-in-out;*/
/*    width: 24px;*/
/*}*/
/*.toggle-switch > input[type="checkbox"]:checked + label::before {*/
/*    background: inherit;*/
/*    opacity: 0.5;*/
/*}*/
/*.toggle-switch > input[type="checkbox"]:checked + label::after {*/
/*    background: inherit;*/
/*    left: 20px;*/
/*}*/

  