   
   <div class="container-heading">
        <h1> <img src="widgets/customPayment/assets/img/arrow_back.png"> &nbsp; SPH-TV-2022-345</h1>
      </div>
      </br>
      <div class="row sph-tv-block">
        <div class="col-md-4  mb-3 col-7 custem-border-right">
          <section class="default-font-color">
          <h6 class="mb-0">CLIENT REFERENCE</h6>
            <span class="verticalLine">Sangguniang Kabataan elections</span>
          </section>
        </div>
        <div class="col-md-3 mb-3 col-5 custem-border-right">
          <div class="row">
            <div class="col-md-6 mb-3">
             <section class="default-font-color">
              <h6 class="mb-0">FROM</h6>
              <span class="verticalLine">12/12/2021</span>
             </section>
            </div>
            <div class="col-md-6 mb-3">
              <section class="default-font-color">
              <h6 class="mb-0">TO</h6>
              <span class="verticalLine">14/01/2022</span>
            </section>
            </div>
          </div>
        </div>
        <div class="col-md-1 mb-3 col-4 custem-border-right">
          <section class="default-font-color">
          <h6 class="mb-0">AD TYPE</h6>
           <span class="verticalLine">TV</span>
          </section>
        </div>
        <div class="col-md-4 mb-3 col-8">
            <div class="row">
                <div class="col-md-11">
                 <section class="default-font-color">
                    <h6 class="mb-0">AIRING CHANNELS</h6>
                    <span class="verticalLine">TFC, MYX TV, One Sports</span>
                </section>   
                </div>
                <div class="col-md-1 hidden-xs">
                 <button type="button" class="btn btn-info btn-accordian" data-toggle="collapse" data-target="#demo"><img onclick="addClass()" src="widgets/customPaymentPage/assets/img/keyboard_arrow_down.png"></button>
                </div>
            </div>
         </div>
      </div>
      <div id="demo" class="collapse">
      <div class="row sph-tv-block">
        <div class="col-md-4 mb-3 col-5 custem-border-right">
          <section class="default-font-color">
         <h6 class="mb-0"> ADVERTISER</h6>
          <span class="verticalLine">Harbor Front Advertisers</span>
        </section>
        </div>
        <div class="col-md-3 mb-3 col-7 custem-border-right">
          <section class="default-font-color">
         <h6 class="mb-0">AGENCY</h6>
          <span class="verticalLine">Green Social Media</span>
        </section>
        </div>
        <div class="col-md-2 mb-3 col-4 custem-border-right">
          <section class="default-font-color">
         <h6 class="mb-0">PLACEMENT</h6>
          <span class="verticalLine">Regional</span>
        </section>
        </div>
        <div class="col-md-3 mb-3 col-8">
          <section class="default-font-color">
          <h6 class="mb-0">PRIMARY CANDIDATE</h6>
           <span class="verticalLine">Crisanto Ronaldo Hernandez</span>
          </section>
         </div>
      </div>
      </div>
      <div class="row">
        <div class="col-12 visible-xs">
            <p class="more-font" data-toggle="collapse" data-target="#demo">more</p>
        </div>
    </div>
      <div class="row">
        <div class="col-md-2">
          <div class="mb-3">
            <button type="button" class="btn btn-warning saved-btn">SAVED</button>
          </div>
        </div>
        <div class="col-md-10">
            <hr class="horizental-style hidden-xs">
        </div>
      </div>
      </br>
      </br>