.container-heading {
    margin-top: 128px;
}
.custom-border-right {
    border-right: 1px solid #BDBDBD;
}
.default-font-color h6{
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}
.default-font-color span{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.custom-input-styles input{
    border:none;
    background-color:#E1F5FF;
}
.custom-input-styles label{
    font-size:14px;
    font-weight:500;
}

.file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: #BDBDBD;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 29%);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.file > input[type='file'] {
    display: none;
}
.file.file--uploading label h4 {
    width: 100%;
    /*text-align: center;*/
}
.custom-bg-color,.custom-bg-color.btn-secondary:hover{
    background-color:#0055A5;
    padding: 8px 50px;
    font-size:16px;
    font-weight:500;
}
.custom-font{
    font-size:14px;
    font-weight:500;
}
.font-style{
    font-style:14px;
    font-weight:400;
    padding-left:19px;
}
.text-color{
    color:#0055A5 !important;
    text-decoration: none;
}
.error-message{
    color: #EB1E23;
width: 333px;
height: 24px;
left: 112px;
top: 504px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

}