
      

          <!--Nav options-->
    <div class="col-lg-6 mt-2">
     <div class="sidebar-nav">
        <div class="navbar navbar-default navbar-side-nav" role="navigation">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-2">
                      <span class="visible-xs navbar-brand text-styles">Documents</span> 
                    </div>
                    <div class="col-10">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <img src="widgets/customPaymentPage/assets/img/expand_more.png">
                        </button>  
                    </div>
                </div>
            </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav ul-navbar-nav">
            <li><a href="#">Status</a><hr class="mb-0"></li>
            <li><a href="#">Payment <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png"></a></a></li>
            <li><a href="#">Creatives <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png"></a></li>
            <li><a href="#">Documents <img src="widgets/customPaymentPage/assets/img/Ellipse 6.png"></a><hr class="mb-0"></li>
            <li><a href="#">Refunds <span class="badge rounded-pill bg-primary">{{refundLength}}</span></a></li>
            <li><a href="#">Memo <span class="badge rounded-pill bg-primary">{{memoLength}}</span></a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
        <!--upload drag & drops-->

      

