<div class="container" ng-init="init();">
    <div class="container-heading">
        <h1 class="container-heading-header">Edit Campaign</h1>
    </div>
       <form name="form">
        <div id="exTab1" class="tabbable-line" >
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link nav_num " ng-class="{'active': tabName=='tab1'}" ng-click="tabName='tab1'" data-toggle="tab" id="detailsTab" ><span
                            class="circle-blue">1</span><span class="content_text">Add details </span>
                            <b>&#8594;</b>
                            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_num"   data-toggle="tab2" id="creativesTab" ng-class="{'active': tabName=='tab2'}" ><span
                            class="circle-blue">2</span><span class="content_text">Add creatives</span><b>&#8594;</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_num" style="cursor: no-drop;" ><span
                            class="circle-blue">3</span><span class="content_text">Payment</span><b>&#8594;</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_num" style="cursor: no-drop;" href="#"><span
                            class="circle-blue">4</span><span class="content_text"> Submit documents</span></a>
                </li>
            </ul>
            <hr>
     
            <div class="tab-content" ng-switch="tabName">
                <div id="add_details" class="tab-pane " ng-class="{'active': tabName=='tab1'}" ng-switch-when="tab1">
                    <div class="row">
                        <div class="form-group col-md-7">
                            <label for="Campaign Name">CAMPAIGN NAME</label>
                            <input type="text" class="form-control" ng-model="properties.campaign.campaignName" id="CampaignName"
                                 placeholder="Campaign Name" />
                        </div>
                      
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-5 mt-3" style="padding-left:0px;">
                                    <label for="Campaign Name">FROM</label>
                                    <input type="date" ng-model="properties.campaign.startDate" date-format class="form-control" #dateFrom name="dateFrom" ng-required="true" />	
                                       <span class="error-message" ng-if="form.$submitted && form.dateFrom.$error.required">From date is required.</span>
                                </div>
                                <div class="form-group col-md-6 mt-3">
                                    <label for="Campaign Name">TO</label>
                                    <input type="date" ng-model="properties.campaign.endDate" date-format  class="form-control" #dateTo name="dateTo" ng-required="true" />	
                                         <span  class="error-message" ng-if="form.$submitted && form.dateTo.$error.required">To date is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-groupmt-4 col-md-5">
                            <label for="Campaign Name">CLIENT REFERENCE </label>
                            <div class="d-flex">
                                <input #refNumber name="refNumber" ng-required="true" type="text" ng-model="properties.campaign.clientReferenceNumber"  class="form-control" placeholder="SPH-TV-2022-409">
                            </div>
                            <span  class="error-message" ng-if="form.$submitted && form.refNumber.$error.required">Client reference is required.</span>
                           
                        </div>
                        <div class="row">
                            <div class="form-group mt-4 col-md-7">
                                <label for="Campaign Name">AGENCY</label>

                                <input type="text" disabled ng-model="properties.userId" class="form-select" style="width: 70%; background-color: #e1f5ff; border: none" id="Campaign Name" placeholder="Decode Advertising and Marketing Agenc"/>
                             
                            </div>
                        </div>
                        <div class="form-group mt-4 col-md-7">
                            <label for="Campaign Name">ADVERTISER</label>
                             <input
                              type="text" 
                              class="form-select"
                              name="advertiser" #advertiser
                              placeholder="Select"
                              ng-model="properties.campaign.advertiserName"
                              ng-model-options="{ debounce: 300 }"
                              ng-keyup="getAdvertiser($event)"
                              required
                            />
            <ul ng-if="!enFlag" style="z-index:{{zIndex}}" id="uid_advertisers" class="list-group list-ba-companies" >
        	 <li class="list-group-item " ng-repeat="advertizer in advertizers" ng-click="onSelectAdvertiser(advertizer)">{{advertizer.longName}}</li>
        	</ul> 
        	<span  class="error-message" ng-if="form.$submitted && form.advertiser.$error.required">Advertiser required.</span>
                        </div>
                        <div class="form-group mt-4 col-md-7">
                            <label for="Campaign Name">PRIMARY CANDIDATE</label>
                                <input
                                  type="text"
                                  class="form-select"
                                  id="primaryCandidate"
                                  name="primaryCandidate"
                                  placeholder="Select"
                                  ng-model="properties.campaign.primaryCandidateName"
                                  ng-model-options="{ debounce: 300 }"
                                  ng-keyup="getPrimaryCandidates($event)"
                                  required
                                />
                                <ul style="z-index:{{zIndexP}}" id="uid_primaryCandidate" class="list-group list-ba-companies" ng-if="!enFlagNew">
                            	 <li class="list-group-item " ng-repeat="primaryCandidate in primaryCandidates" ng-click="onSelectPrimaryCandidate(primaryCandidate)">{{primaryCandidate.candidateName}}</li>
                            	</ul>
                            	<span  class="error-message" ng-if="form.$submitted && form.primaryCandidate.$error.required">Primary Candidate required.</span>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">

                                <label for="Campaign Name">AD Type </label>
                             
                               <select class="form-select" name="adType"  name="adType" #adType required  ng-model="properties.campaign.adType" >
                                    <option value="" disabled selected>Please select the adtype.</option>
                                    <option ng-repeat="aType in adTypes">{{aType.adTypeName}}</option>
                                </select>
                                <span  class="error-message" ng-if="form.$submitted && form.adType.$error.required">AD Type required.</span>
                            </div>
                        </div>

                        <div class="form-group mt-4 col-md-7">
                            <label for="Campaign Name">TELECAST ORDER</label>
                            <div class="file file--uploading">
                                  <label for="input-file">
                                    <img src="widgets/customNewCampaign/assets/img/description.png"> <h4>Click to select file or drag file here</h4> <img src="widgets/customNewCampaign/assets/img/add.png">
                                  </label>
                                  <input class="file-upload-input"   id="input-file" type="file"  ng-file-model="files" multiple>
                                  
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="Campaign Name"> AIRING CHANNELS </label>
                        <div class="row">
                            <div id="Airing Channel " class="p-2 col-md-7">

                               <div class="filter-active">
                                <div class="col-lg-1 airing">
                                    <button type="button" ng-click="airingChannelFilter('all')" class="btn btn-dark btn-f active-select">All</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('0,1,2,3,4,5,6,7,8,9')" type="button" class="btn btn-light btn-f">0-9</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('a,b,c,d,e')" type="button" class="btn btn-light btn-f btn-f">A-E</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button  ng-click="airingChannelFilter('f,g,h,i,j')" type="button" class="btn btn-light btn-f">F-J</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('k,l,m,n,o')"  type="button" class="btn btn-light btn-f">K-O</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button ng-click="airingChannelFilter('p,q,r,s,t')" type="button" class="btn btn-light btn-f">P-T</button>
                                </div>
                                <div class="col-lg-1 airing">
                                    <button  ng-click="airingChannelFilter('u,v,w,x,y,z')"  type="button" class="btn btn-light btn-f">U-Z</button>
                                </div>
                            </div>
                                <div class="w-100 mt-3 airing-channels">

                                    <div class=" checkbox col-xs-6 col-sm-4 col-md-3 col-lg-3 m-2" ng-repeat="channel in airingChannels">
                                        <label style="width: fit-content">
                                            <input type="checkbox" id="airingChanel" name="airingChanel" ng-click="onSelectAiringChannel(channel.channelName)" class="form-check-input" required />{{channel.channelName}}
                                        </label>
                                       
                                    </div>
                                 </div>
                            </div>
                            <span  class="error-message" ng-if="form.$submitted && airingChannelsList.length === 0">Airing channel required</span>
                        </div>
                   
                
                <label for="Placement From" class="d-flex"
                    style="font-size: 14px; font-weight: 500; line-height: 24px; margin-top: 50px;">PLACEMENT
                    FROM</label>
                <div id="Placement From" class="d-flex justify-content-between" style="width: 24%">
                    <div class="form-check w-90">
                        <input class="form-check-input" ng-click="placementSelected('National')" type="radio" name="placement" id="placement"
                            value="National"  />
                        <label class="form-check-label" for="National">
                            National
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" ng-click="placementSelected('Regional')" type="radio" name="placement" id="placement"
                            value="Regional" />
                        <label class="form-check-label" for="Regional">
                            Regional
                        </label>
                    </div>
                  </div>
                    <span  class="error-message" ng-if="form.$submitted && !isPlacementSlctd">Placement from required.</span>
                
                <div class="mt-4 button_container justify-content-between">
                    <button ng-click="nextTab(form.$valid)" type="submit" class="btn btn-primary"
                        style="width: 176px; height:40px; font-size:16px">NEXT</button>
                </div>

            </div>
        </div>

            <div id="add_creatives" class="tab-pane" ng-class="{'active': tabName=='tab2'}" ng-switch-when="tab2">
                <div class="row mg-bottom-60 ">
                    <div class="col-lg-6">
                        <span class="saved-creative">
                            Select from your saved creatives
                        </span>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-3 searchpay">
                            <input type="text" #searchPhase ng-model="searchPhase" class="form-control add-c-form" placeholder="Search" form-control="Search"
                                aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text srch-icon" ng-click="searchInCreatives(searchPhase)" style="background-color: none;">
                                <img src="widgets/customNewCampaign/assets/img/searchIcon.png">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-select add-c-form" ng-change="selectedRow()" ng-model="sizevvv"  aria-label="Default select example">
                            <option value="0" selected> SORT BY: Recently added</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">All</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 select">
                        <span>
                            {{creativeLLength}} selected <a href="#" ng-click="clearAllCreatives()">Clear all X</a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" ng-repeat="creatve in creativeObj  | limitTo : crSize">
                        <div class="card border-0">
                            <img src="{{creatve.documentUrl}}"
                                alt="Card image cap">
                                <input class='category-input creativeCheckBox' type="checkbox"  id="{{creatve.workflowId}}">
                                <label ng-click="onSelectImg(creatve.workflowId)" for="{{creatve.workflowId}}"></label>
                            <div class="card-body">
                                <p class="card-text"><span class="card_info_key">ID: </span>{{creatve.workflowId}}</p>
                                <p class="card-text"><span class="card_info_key">PRIMARY CANDIDATE: </span>{{creatve.primaryCandidateName}}
                                </p>
                                <p class="card-text" ng-if="creatve.adExecutionType =='Digital - Video'"><span class="card_info_key">LENGTH: </span>{{creatve.materialLength}}</p>
                                <p class="card-text"><span class="card_info_key">Version: </span>{{creatve.materialVersion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="t_load_creatives m-auto main-load" >
                     <hr />
                   <a ng-click="loadMore()">LOAD MORE CREATIVES</a> </div>
                   
                    <div class="row">
                    <div class="btn-bottom">
                    <button type="button" ng-click="addCreatives()"  class="btn btn-primary btn-sm">CHOOSE SELECTED</button>
                    <button type="button" ng-click="saveCampaign(properties.campaign,properties.userId)" class="btn btn-primary white-btn">RE-SUBMIT</button>
                    <button type="button" class="btn btn-light info-btn">i</button>
                  </div>
                </div>
           
            </div>
        </div>
       
        </div>
        </form>
</div>