* {
    margin:0px;
    padding:0px;}
    header {
        background: #282828;
        display: flex;
       
    }
    .container {
        width: 100%;
        max-width: 1440px;
    }
    .cust-user-icon {
        background: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 8px;
    }
    .top-md {
     padding: 10px;
     height: 45px;
    }
    .fl-left {
    float:left;
    }
    .right-fl {
    float:right;
    }
    .right-fl ul li {
        float: left;
        list-style: none;
        padding: 10px 8px;
    }
    .right-fl ul li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family:arial;
    }
    
    .right-fl ul li {
    float:left;
    color:#ccc;
    }
    
    .navbar-brand{
        padding: 0px;
    }
    