      <div class="spinner" style="top:35%;position: absolute;margin-left: 50%;" ng-show="loading"></div> 
<div id="wrapper" class="" ng-init="init();" style="{{opacity}}">
    <div class="container-fluid">

        <div class="top-sec">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a style="color: #e93117 !important;cursor: pointer !important;" ng-click="reloadDashBoard()">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{properties.billingCompany}}</li>
                    <div class="backto-home">
                        <a class="breadcrumb-item active" style="color: #e93117 !important;cursor: pointer !important;" ng-click="reloadDashBoard()">Back to dashboard</a>
                    </div>
                </ol>
            </nav>


            
            <div class="row top-bottom">
                <div class="col-md-8 col-sm-12 col-xs-12 left">
                    <h6>New Mandate</h6>

                    <ul class="new-mandate-detailsid">
                        <li>
                            Product Name
                            <span>{{properties.mandate.productName}}</span>
                        </li>
                        <li>
                            Institution Name
                            <span>{{properties.mandate.institutionName}}</span>
                        </li>
                        <li>Billing Company
                            <span>{{properties.mandate.billingCompany}}</span>
                        </li>
                        <li>Billing Company Contact
                            <span>{{properties.mandate.billingCompanyContact}}</span>
                        </li>
                    </ul>

                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 right">
                    <div class="Type-sample-heading">
                        <!--<ul>-->
                        <!--    <li>Type of document</li>-->
                        <!--    <li>Template-->
                        <!--        <br> (click to download)</li>-->
                        <!--</ul>-->

                    </div>

                    <!--<ul class="upload-sm">-->
                    <!--    <li>Scanned Mandate </li>-->
                    <!--    <li>-->
                    <!--        <a class="" href="">Scanned_Mandate_Template.xls</a>-->
                    <!--    </li>-->
                    <!--    <li>-->
                    <!--        <a class="" href="">Upload the template</a>-->
                    <!--    </li>-->
                    <!--</ul>-->



                </div>
            </div> 

        </div> 

    </div>
     

               
    <form name="mandate">
        <div id="exTab1" class="tabbable-line">
            <ul class="nav nav-pills nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" id="productTab" href="#home">Product Details

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="oneSourceTab" href="#menu1">OneSource

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="mandateTab" href="#menu2">Mandate Details

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="FeeTab" href="#menu3">Fee Details

                    </a> 
                </li>

                <li class="nav-item" ng-if="!isFromNo">
                    <a class="nav-link nav-items-set" data-toggle="tab" id="baVendorTab" ng-if="!isFromNo" href="#menu7">BA VENDOR DETAILS

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" id="documentsTab" href="#menu4">Documents

                    </a>
                </li>
                <!-- <li class="nav-item">-->
                <!--           <a class="nav-link nav-items-set" data-toggle="tab" id="" href="#menu6">INFOR REQ</a>-->
                <!--</li>-->
            </ul>
            <div class="btn-right-save float-right">
                <button type="button" class="btn btn-outline-secondary" ng-if="!isFromNo"  ng-disabled="mandate.billingCompany.$invalid || mandate.companyCode.$invalid" ng-click="caseSubstatusPopup(properties.mandate)">SAVE FOR LATER </button>
                <button type="button" class="btn btn-outline-secondary" ng-if="isFromNo"  ng-disabled="mandate.billingCompany.$invalid || mandate.companyCode.$invalid" ng-click="saveForlater(properties.mandate)">SAVE FOR LATER </button>
 
                <button type="button"   class="btn btn-outline-secondary" ng-disabled="mandate.$invalid" ng-if="isFromNo"
                    ng-click="createMandate(properties.mandate)">ORIGINATE </button>
                <button type="button" ng-disabled="mandate.$invalid" ng-if="!isFromNo" class="btn btn-outline-secondary"
                    ng-click="createMandate(properties.mandate)">CREATE </button>
                   
      
            </div>
   
            <!--pop-up -->
             <div class="modal fade" id="functionUsersCheck" role="dialog"> 
            <div class="modal-dialog"> 
                <div class="modal-content">
                    <div class="modal-header">
                         <!--<h1 for="comment">Please update the Case status</h1>-->
                        <button type="button" class="close" data-dismiss="modal">&times;</button> 
                    </div>
                    <div class="modal-body">  
                        <div class="form-group"> 
                          <!--<label for="comment">Reason for Rejection</label>-->
                          <!--<textarea class="form-control" rows="5" ng-model="properties.mandateData.smeComment" id="comment"></textarea>-->
                       <label>Please update the ISME Case Sub Status &&  Enitty Name </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<button  type="button" class="btn btn-danger" ng-click="reject()"  data-dismiss="modal">Submit</button>-->
                    </div>
                </div>
            </div>
        </div>
              <!--toast msg-->
                                    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
                                   

            <!--pup-up end-->
    
            <div class="tab-content">
                <div id="home" class="tab-pane active">

                    <div class="panel-body">
                        <div class="form-wrap">
                            <div class="row">
                              
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Product<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="product" ng-model="properties.mandate.productName" ng-change="getProduct(properties.mandate.productName);changeExposure(properties.mandate.creditExposureByBank);"
                                            required>
                                            <option value="" disabled selected>Please select the Product.</option>
                                            <option ng-repeat="data in products">{{data.PRODUCTNAME}}</option>
                                        </select>
                                        <div ng-messages="mandate.product.$error">
                                            <p class="text-danger" ng-message="required">Product required</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Institution Name<span class="mandatory">*</span></label>
                                        <select disabled class="form-control form-control-lg" name="institutionName" ng-model="properties.mandate.institutionName" ng-change="getInstitution(properties.mandate.institutionName);changeExposure(properties.mandate.creditExposureByBank);"
                                            required>
                                            <option value="" disabled selected>Please select the Institution name.</option>
                                            <option ng-repeat="data in institutions">{{data.INSTITUTIONNAME}}</option>
                                        </select>
                                        <div ng-messages="mandate.institutionName.$error">
                                            <p class="text-danger" ng-message="required">Institution name required</p>
                                        </div>
                                    </div> 
                                </div>
                                
                                 <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Billing Company<span class="mandatory">*</span></label>
                                   
                                        
                                           <input type="text" placeholder="" class="form-control" name="billingCompany" ng-model="properties.mandate.billingCompany" ng-keyup="getBillingCompany($event)" required>
                                         <ul style="width : 45%;z-index:{{zIndex}}"  class="list-group list-ba-companies" ng-if="!enFlagNew">
                                         <li class="list-group-item " ng-repeat="contact in billingCompanies" ng-click="getBillingCompanyBox(contact)">{{contact.company_name}}</li>
                                         </ul>
                                        
                                        <div ng-messages="mandate.billingCompany.$error">
                                            <p class="text-danger" ng-message="required">Billing Company required</p>
                                        </div>
                                    </div>
                                    
                                             <!--   <select class="form-control form-control-lg" name="billingCompanyContact" ng-model="properties.mandate.billingCompanyContact" ng-change="getBillingCompanyContact(properties.mandate.billingCompanyContact,properties.mandate.billingCompany)"
                                            required>
                                            <option value="" disabled selected>Please select the Billing Company Contact.</option>
                                            <option ng-repeat="data in billingCompanyContacts">{{data.contact_full_name}}</option>
                                        </select>-->
                                        
                                        
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Billing Company Contact<span class="mandatory">*</span></label>
                            
                                        
                                         <input type="text" placeholder="" class="form-control" name="billingCompanyContact" ng-model="properties.mandate.billingCompanyContact" ng-keyup="getBillingCompanyCon($event)" required>
                                         <ul style="width : 45%;z-index:{{zIndexC}}" class="list-group list-ba-companies" ng-if="!enFlagNew1">
                                         <li class="list-group-item " ng-repeat="contact in billingCompanyContacts" ng-click="getBillingCompanyContact(contact.contact_full_name,properties.mandate.billingCompany)">{{contact.contact_full_name}}</li>
                                         </ul>
                                        
                                        <div ng-messages="mandate.billingCompanyContact.$error">
                                            <p class="text-danger" ng-message="required">Billing Company Contact required</p>
                                        </div>
                                    </div>
                                </div>   
                              

                              
                              
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Product Type<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="productType" ng-model="properties.mandate.productType" ng-change="getProductType(properties.mandate.productType);changeExposure(properties.mandate.creditExposureByBank);"
                                            required>
                                            <option value="" disabled selected>Please select the Product Type.</option>
                                            <option ng-repeat="data in productType">{{data.PRODUCTTYPENAME}}</option>
                                        </select>
                                        <div ng-messages="mandate.productType.$error">
                                            <p class="text-danger" ng-message="required">Product type required</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Company Code <span class="mandatory">*</span></label>

                                        <input type="text" placeholder="" class="form-control" ng-model="properties.mandate.companyCode" ng-disabled="properties.source =='NO'">
                                   
                                      <div ng-messages="mandate.companyCode.$error">
                                            <p class="text-danger" ng-message="required">Please select Billing Company</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Product Category<span class="mandatory">*</span></label>
                                        <select class="form-control form-control-lg" name="productCategory" ng-model="properties.mandate.productCategory" ng-change="changeExposure(properties.mandate.creditExposureByBank);" required>
                                            <option value="" disabled selected>Please select the Product Category.</option>
                                            <option ng-repeat="data in productcategory">{{data.PRODUCTCATEGORYNAME}}</option>
                                        </select>
                                        <div ng-messages="mandate.productCategory.$error">
                                            <p class="text-danger" ng-message="required">Product category required</p>
                                        </div>
                                    </div>

                                    <!--<div class="col-md-6 col-sm-12 col-xs-12 form-group">-->
                                    <!--    <label for="email">Company Code </label>-->


                                    <!--    {{properties.vm}}==-->
                                    <!--    <div class="input-group date" id="birthdate" ng-model="properties.vm" date-picker>-->
                                    <!--        <input type="text" class="form-control netto-input" ng-model="properties.vm" ng-blur="tue(properties.vm)" date-picker-input>-->

                                    <!--        <span class="input-group-addon">-->
                                    <!--            <span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--        </span>-->

                                    <!--    </div>-->

                                    <!--</div>-->
                                </div>







                                <div class="button-next-bottom">
                                    <!--<button type="button" class="btn btn-outline-secondary">Reset </button>-->

                                    <div class="float-right ">
                                        <!-- <button type="button" class="btn btn-secondary" id="next">Next </button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Onesource tab -->
                <div id="menu1" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label class="gst-exempt" for="email">GST Exempt<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" ng-disabled="!isFromNo" class="form-control" name="gstExempt" ng-model="properties.mandate.gstExempt" required>
                                            <div ng-messages="mandate.gstExempt.$error">
                                                <p class="text-danger" ng-message="required">GST Exempt required</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">GST Number Not Applicable<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" class="form-control" name="gstNumberNotApplicable" ng-model="properties.mandate.gstNumberNotApplicable"
                                                required  ng-disabled="!isFromNo" >
                                            <div ng-messages="mandate.gstNumberNotApplicable.$error">
                                                <p class="text-danger" ng-message="required">GST number not applicable required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">SEZ<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" ng-disabled="!isFromNo"  name="sez" class="form-control" ng-model="properties.mandate.sez" required>
                                            <div ng-messages="mandate.sez.$error">
                                                <p class="text-danger" ng-message="required">SEZ required</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">GST Number<span class="mandatory">*</span></label>
                                            <input type="text" ng-disabled="!isFromNo"  placeholder="" class="form-control" name="gstNumber" ng-if="gstApplicable" ng-model="properties.mandate.gstNumber"
                                                required>
                                            <select class="form-control form-control-lg" name="gstNumber" ng-model="properties.mandate.gstNumber" ng-if="!gstApplicable" 
                                                required>
                                                <option value="" disabled selected>Please select the GST Number.</option>
                                                <option ng-repeat="data in gstNumbers" >{{data.GST_Number}}</option>
                                            </select>
                                            
                                            <div ng-messages="mandate.gstNumber.$error">
                                                <p class="text-danger" ng-message="required">GST number required</p>
                                            </div>
                                         
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Location of Service<span class="mandatory">*</span></label>
                                            <input type="text" disabled placeholder="" class="form-control" name="locationOfService" ng-model="properties.mandate.locationOfService"
                                                required>
                                            <div ng-messages="mandate.locationOfService.$error">
                                                <p class="text-danger" ng-message="required">Location of service required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-next-bottom">
                                        <!--<button type="button" class="btn btn-outline-secondary">Reset </button>-->

                                        <div class="float-right ">
                                            <!-- <button type="button" class="btn btn-secondary" id="oneSourcePrevious">Previous</button>
                                            <button type="button" class="btn btn-outline-secondary btnNext" id="oneSourcenext">Next </button> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fee Details tab -->
                <div id="menu3" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Credit Exposure by Bank<span class="mandatory">*</span></label>
                                            <select class="form-control form-control-lg" name="creditExposureByBank" ng-model="properties.mandate.creditExposureByBank" ng-change="changeExposure(properties.mandate.creditExposureByBank)" required>
                                                <option value="" disabled selected>Please select the Credit Exposure by Bank.</option>
                                                <option ng-repeat="data in creditExpo.data">{{data.CREDIT_EXPOSURE}}</option>
                                            </select> 

                                            <div ng-messages="mandate.creditExposureByBank.$error">
                                                <p class="text-danger" ng-message="required">Credit Exposure by Bank required</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Grading Fees</label>
                                            <input type="number" placeholder="" name="gradingFees"  min="0" step="any" class="form-control" ng-model="properties.mandate.gradingFees">                                            <!--<div ng-messages="mandate.gradingFees.$error">-->
                                            <!--    <p class="text-danger" ng-message="required">Grading fees required</p>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Cheque Amount (Rs.)<span class="mandatory">*</span></label>
                                            <input type="number"  min="0" step="any" placeholder="Ex: 1000" name="paymentAmount" class="form-control" ng-model="properties.mandate.paymentAmount"
                                                required>
                                            <div ng-messages="mandate.paymentAmount.$error">
                                                <p class="text-danger" ng-message="required">Cheque amount required</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Payment date<span class="mandatory">*</span></label>
                                            <!-- <input type="text" class="date form-control" ng-model="properties.mandate.paymentDate" data-provide="datepicker" ng-blur="paymentDate($event)" />  -->
                                            <div class="input-group date" id="birthdate" ng-model="properties.mandate.paymentDate" date-picker>
                                                <input type="text" class="form-control netto-input" name="paymentDate" ng-model="properties.mandate.paymentDate" ng-blur="tue(properties.mandate.paymentDate)"
                                                    date-picker-input required>

                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>

                                            </div>
                                              <div ng-messages="mandate.paymentDate.$error">
                                                <p class="text-danger" ng-message="required">Payment Date required</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Payment Details<span class="mandatory">*</span></label>
                                            <input type="text" name="paymentDetails" class="form-control" ng-model="properties.mandate.paymentDetails" required>
                                            <div ng-messages="mandate.paymentDetails.$error">
                                                <p class="text-danger" ng-message="required">Payment details required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-next-bottom">
                                        <!--<button type="button" class="btn btn-outline-secondary">Reset </button>-->

                                        <div class="float-right ">
                                            <!-- <button type="button" class="btn btn-secondary" id="feeDetailsPrevious">Previous</button>
                                            <button type="button" ng-if="isFromNo" class="btn btn-outline-secondary btnNext" id="feeDetailsnext">Next </button>
                                            <button type="button" ng-if="!isFromNo" class="btn btn-outline-secondary btnNext" id="fromNofeeDetailsnext">Next </button> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Mandate Details Tab-->
                <div id="menu2" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap"> 
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Entity Name<span class="mandatory">*</span></label>
                                            <input type="text" placeholder="" class="form-control" ng-disabled="!isFromNo" name="entityName" ng-model="properties.mandate.entityName" 
                                                ng-keyup="getEntities($event)" required>
                                            <ul class="list-group list-ba-companies" style="z-index:{{zIndex}}" ng-if="!enFlag">
                                                <li class="list-group-item " ng-repeat="contact in entites" ng-click="fillTextbox(contact)">{{contact.company_name}}</li>
                                            </ul>

                                            <div ng-messages="mandate.entityName.$error">
                                                <p class="text-danger" ng-message="required">Entity name required</p>
                                            </div>
                                            <!-- <label for="email">Entity Name</label>
                                        <select class="form-control form-control-lg" ng-if="!isIndv" name="entityName" ng-model="properties.mandate.entityName" ng-change="getEntitydetails(properties.mandate.entityName)">
                                            <option value="" disabled selected>Please select the Entity.</option>
                                            <option ng-repeat="data in entities">{{data.company_name}}</option>
                                        </select>
                                        <input type="text" placeholder="" class="form-control" ng-if="isIndv" name="entityName" ng-model="properties.mandate.entityName"
                                             required>-->
                                            <!--  <div ng-messages="mandate.entityName.$error">-->
                                            <!--    <p class="text-danger" ng-message="required">Entity name required</p>-->
                                            <!--</div>-->
                                        </div>



                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Entity Address<span class="mandatory">*</span></label>
                                            <input type="text" ng-disabled="!isFromNo"  placeholder="" class="form-control" name="entityAddress" ng-model="properties.mandate.entityAddress"
                                                required>
                                            <div ng-messages="mandate.entityAddress.$error">
                                                <p class="text-danger" ng-message="required">Entity Address required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Entity contact person Number<span class="mandatory">*</span></label>
                                            <input type="text" ng-disabled="!isFromNo"  placeholder="" class="form-control" name="entityContactPersonNumber" ng-model="properties.mandate.entityContactPersonNumber"
                                                required>
                                            <div ng-messages="mandate.entityContactPersonNumber.$error">
                                                <p class="text-danger" ng-message="required">Entity contact person number required</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Entity Display</label>
                                            <input type="text" ng-disabled="!isFromNo"  placeholder="" class="form-control" name="entityDisplayName" ng-model="properties.mandate.entityDisplayName">
                                        </div>

                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group" ng-if="!isFromNo">
                                            <label for="email">Net ops sub status<span class="mandatory">*</span></label>
                                            <select class="form-control form-control-lg" ng-if="!isFromNo" name="ismeCaseSubStatus" ng-model="properties.mandate.ismeCaseSubStatus"
                                                required>
                                                <option value="" disabled selected>Please select status</option>
                                                <option ng-repeat="data in ismeDropDown">{{data.SUBSTATUS}}</option>

                                            </select>
                                            <div ng-if="!isFromNo" ng-messages="mandate.ismeCaseSubStatus.$error">
                                                <p class="text-danger" ng-message="required">Field required</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group" ng-if="!isFromNo">
                                            <label for="email" ng-if="!isFromNo">Urgent case<span class="mandatory">*</span></label>
                                            <select class="form-control form-control-lg" name="urgentCase" ng-if="!isFromNo" ng-model="properties.mandate.urgentCase"
                                                required>
                                                <option value="" disabled selected>Please select</option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                            <div ng-if="!isFromNo" ng-messages="mandate.urgentCase.$error">
                                                <p class="text-danger" ng-message="required">Field required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">

                                            <label for="comment">Constitution Name</label>

                                            <select class="form-control form-control-lg" name="constitutionName" ng-model="properties.mandate.constitutionName">
                                                <option value="" disabled selected>Please select the Constitution.</option>
                                                <option value="Proprietorship">Proprietorship</option>
                                                <option value="Partnership Firm">Partnership Firm</option>
                                                <option value="Private Limited">Private Limited</option>
                                                <option value="Trust">Trust</option>
                                                <option value="Others">Others</option>

                                            </select>
                                            <!--<div ng-messages="mandate.constitutionName.$error">-->
                                            <!--    <p class="text-danger" ng-message="required">Constitution is required</p>-->
                                            <!--</div>-->
                                        </div>
                                        
                                        
                                        
                                         <div ng-if="!isFromNo" class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="email">Allocated to Committee Date<!--<span class="mandatory">*</span>--></label>
                                            <!-- <input type="text" class="date form-control" ng-model="properties.mandate.paymentDate" data-provide="datepicker" ng-blur="paymentDate($event)" />  -->
                                            <div class="input-group date" id="birthdate1" ng-model="properties.mandate.allocateToCommitteeDate" date-picker>
                                                <input type="text" class="form-control netto-input" name="allocateToCommitteeDate" ng-model="properties.mandate.allocateToCommitteeDate" ng-blur="tue(properties.mandate.allocateToCommitteeDate)"
                                                    date-picker-input >

                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>

                                            </div>
                                            <!--  <div ng-messages="mandate.allocateToCommitteeDate.$error">
                                            <p class="text-danger" ng-message="required">Allocated to committee required</p>  
                                         </div>-->
                                        </div>
                                        </div>
                                           <!-- <input type="text" class="date form-control" ng-if="!isFromNo" data-provide="datepicker" ng-blur="allocatedToCommittee($event)"
                                            />
                                            -->
                                            
                                       


                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <!--<div class="col-md-6 col-sm-12 col-xs-12 form-group"  ng-if ="!isFromNo">-->
                                            <label for="email" ng-if="!isFromNo">BD Name<span class="mandatory">*</span></label>

                                            <select ng-if="!isFromNo" class="form-control form-control-lg" name="bdName" ng-model="properties.mandate.bdName" required>
                                                <option value="" disabled selected>Please select BD</option>
                                                 <option ng-repeat="data in bdNames" value="{{data.EMP_WINDOWS_ID}}">{{data.EMP_COMPANYNAME}}</option>
                                             </select>
                                             <div ng-messages="mandate.bdName.$error">
                                                <p class="text-danger" ng-message="required">BD Name is required</p>
                                            </div>
                                            <!-- </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group"></div>-->
                                        </div>
                                    </div>

                                    <div class="button-next-bottom">
                                        <!--<button type="button" class="btn btn-outline-secondary">Reset </button>-->

                                        <div class="float-right">
                                            <!-- <button type="button" class="btn btn-secondary" id="mandateDetailsPrevious">Previous</button>
                                            <button type="button" class="btn btn-outline-secondary btnNext" id="mandateDetailsNext">Next </button> -->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--//BA vendor details-->
                <div id="menu7"  ng-if ="!isFromNo" class="tab-pane fade">
                    <div class="row"> 
                       
                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                            <label for="email">BA Applicable<span class="mandatory">*</span></label>
                            <select class="form-control form-control-lg" name="baApplicable" ng-model="properties.mandate.baApplicable" ng-change="baApplicable(properties.mandate.baApplicable)"
                                required>
                                <option value="" disabled selected>Please select</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                             <div ng-messages="mandate.baApplicable.$error">
                                            <p class="text-danger" ng-message="required">BA Applicable is required</p>
                                 </div>
                            
                        </div>
                    </div>
                    <div ng-if="showbaVendor">
                        <div class="panel-body mt-3 mb-3" style="border-bottom: 1px solid #c2c2c2" ng-repeat="vendor in baVendor">
                            
                            <button type="button" class="close" aria-label="Close" ng-click="dleteVendor($index)">
                              <span aria-hidden="true">&times;</span>
                            </button> 
                            
                            <span>BA Vendor </span>
                            <div class="form-wrap baVendorDetails">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="email">Select BA Vendor Company Name<span class="mandatory">*</span></label>
                                     
                                        <select class="form-control form-control-lg" required ng-model="vendorCompanyName" ng-change="onCompanySelected(vendorCompanyName,$index)">
                                            <option value="">Select Account</option>
                                            <option ng-repeat="badata in baCompanyList" value="{{badata.BACOMPANY}}">{{badata.BACOMPANY}}</option>
                                        </select>
                                    </div> 
                                       <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                      <ul class="cust-activity-list">
                                       <li ng-repeat="data in selectedActivities[$index]" >{{data.activity}}</li>
                                      </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label>BA Contact Name<span class="mandatory">*</span></label> 
                                        <select class="form-control form-control-lg" required ng-model="vendorContactName" ng-change="onContactSelected(vendorContactName,$index)">
                                            <option value="">Select Account</option>
                                            <option ng-repeat="contactList in baContactList[$index]" value="{{contactList}}">{{contactList.BANAME}}</option>
                                        </select> 
                                    </div> 
 
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group"> 
                                    
                                        <label>BA Activity<span class="mandatory">*</span></label> 
                                        
                                        <br>  
                                 
                                 
                                 
                                    <multiselect-dropdown model="baActivitiesModel"  options="baActivities" required i=$index on-activity-selected="onActivitySelected(args,$index)"></multiselect-dropdown>
                                
                                    </div>
                                </div>
                                
                                   <!-- Added by GOPAL -->
                                 
                                  <!--<div class="row">-->
                                  <!--  <div class="col-md-6 col-sm-12 col-xs-12 form-group" ng-if="datePick[$index].statu">-->
                                  <!--      <label>BA Scheduled date<span class="mandatory">*</span></label>-->
                                       
                                  <!--       <input type="text" class="date form-control" ng-model="baScheduledDate" data-provide="datepicker" ng-blur="baScheduledDateFun($event,$index)" />-->
                                        
                                        
                                        
                                  <!--        <div class="input-group date" id="birthdate1" ng-model="baScheduledDate" date-picker>-->
                                  <!--              <input type="text" class="form-control netto-input" ng-model="baScheduledDate" ng-blur="baScheduledDateFun(baScheduledDate,$index)"-->
                                  <!--                  date-picker-input>-->

                                  <!--              <span class="input-group-addon">-->
                                  <!--                  <span class="glyphicon glyphicon-calendar"></span>-->
                                  <!--              </span>-->

                                  <!--           </div>-->
                                  <!--  </div>-->
                                  <!-- </div>-->
                        </div>
                        <button class="addVendor" ng-click="addVendor()">
                            <span class="mt-3" style="color: #0091ff;">Add another BA Vendor to this mandate</span>
                        </button>
                    </div>
                    </div>
                    <div class="button-next-bottom">

                        <div class="ba-buttons">
                            <!-- <button type="button" class="btn btn-secondary" id="baP">Previous </button>
                            <button type="button" class="btn  btn-outline-secondary btnNext" id="baN">Next </button> -->
                        </div>
                    </div>
                
                </div>
                <!--//BA vendor details-->
 
            
                <div id="menu4" class="tab-pane fade">

                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <div class="row">

                                    <div class="height-min" ng-hide="fileUpload">



                                        <!--  <input type=file ng-file-model="files"  class="btn btn-secondary upload-dct" multiple accept=".pdf,.xlsx,.txt,.xlsm,.xls"  />
                                     -->
                                        <!--<input type=file  onchange="angular.element(this).scope().uploadFile(this.files)" class="btn btn-secondary upload-dct" multiple   />-->


                                        <br>
                                    </div>

                                    <!--<input type="file" ng-file-model="files" multiple />-->
                                    <!-- <p ng-repeat="file in files">-->
                                    <!--     {{file.name}}-->
                                    <!--     </p>-->

                                    <div class="upload-list-main">

                                        <ul>
                                            <!--<li>-->
                                            <!--    <div class="list-group-item">-->
                                            <!--        <label class="checkbox">-->
                                            <!--            <input type="checkbox" ng-click="checkAll()" />-->
                                            <!--            <span class="default"></span>-->
                                            <!--        </label>-->
                                            <!--    </div>-->
                                            <!--</li>-->
                                            <!--<li>Select or Deselect all</li>-->
                                            <li>
                                                <button class="file-option" ng-click="delete()">Delete</button>
                                            </li>
                                            <li>
                                                <button class="file-option" ng-click="deleteAll()">Delete all</button>
                                            </li>
                                        </ul>
                                        <table>
                                            <tr>
                                                <th style="width: 38px;"></th>
                                                <th>Document Type</th>
                                                <th>Document file</th>
                                                <th></th>
                                                <th>Action</th>
                                            </tr>
                                            <tr ng-repeat="doc in uploadedList">

                                                <td>
                                                    <div class="list-group-item">
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-model="status" ng-change="documentAction($index, status)" />
                                                            <span class="default"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>{{doc.document_type}}</td>
                                                <td>{{doc.document_name}}</td>

                                                <td>
                                                    <a href="/bonitaAPI/accesssme/download/{{doc.response_code}}" download>Download file</a>
                                                </td>

                                                <td>
                                                    <span class="delete-icon" ng-click="deleteOne(doc,$index)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                                            <g fill="none" fill-rule="evenodd">
                                                                <path d="M-5-3h24v24H-5z" />
                                                                <path fill="#333333" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" />
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="doc in files">

                                                <td ng-init="inits(files,$index)">
                                                    <div class="list-group-item">
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-model="status" ng-change="documentAction($index, status)" />
                                                            <span class="default"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>OTHER DOCUMENT</td>
                                                <td>{{doc.name}}</td>
                                                <td></td>
                                                <td>
                                                    <span class="delete-icon" ng-click="deleteUploadDoc($index)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                                            <g fill="none" fill-rule="evenodd">
                                                                <path d="M-5-3h24v24H-5z" />
                                                                <path fill="#333333" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" />
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </td>

                                            </tr>
                                        </table>
                                        <div class="height-mins cust-choosefile">
                                            Upload File
                                            <input type="file" ng-file-model="files" class="hide_file" multiple>
                                        </div>
                                        <!--<div class="height-mins">-->
                                        <!--    <input type=file ng-file-model="files" class="btn btn-secondary upload-dct" multiple accept=".pdf,.xlsx,.txt,.xlsm,.xls"-->
                                        <!--    />-->
                                        <!--</div>-->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-next-bottom">


                        <div class="doc-btns ">
                            <!-- <button type="button" ng-if="!isFromNo" class="btn btn-secondary" id="formNOdocuumentP">Previous </button>
                            <button type="button" ng-if="isFromNo" class="btn btn-secondary" id="docuumentP">Previous </button> -->
                        </div>
                    </div>


                </div>

           
    </div>
 </div>
    </form>
    <div class="footer">
         <ul>
        <li> © 2018 CRISIL LIMITED - A DIVISION OF S&P GLOBAL. ALL RIGHTS RESERVED.</li>
    </ul>
    </div>
    </div>

   